<!DOCTYPE html>
<html>
	<base href="/lawfirms/" />

	<head>
		<meta charset="UTF-8">
		<title>辽宁盛恒律师事务所</title>
		<link rel="stylesheet" type="text/css" href="static/css/parts3.css" />
		<link id="main_link2" rel="stylesheet" type="text/css" href="static/css/main_green.css">
		<link rel="stylesheet" type="text/css" href="static/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="static/bootstarp/css/bootstrap.css" />
		<script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/bootstarp/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/bootstarp/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/bootstarp/js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/layui/layui.all.js"></script>
		<script type="text/javascript" src="static/js/parts.js"></script>

		<script src="static/jquery-cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window.setInterval(data, 1000); //两秒加载
			function data() {
				layui.use('laydate', function() {
					var laydate = layui.laydate;
					//执行一个laydate实例
					laydate.render({
						elem: '#user_createdate', //指定元素
						type: "datetime", //时间格式
						value: new Date()
					});
					laydate.render({
						elem: '#user_pre_date' //指定元素
					});
				});
			}
			$(function() {
				$.ajax({
					type: "get",
					url: "setting/roles/sel",
					dataType: "json",
					success: function(data) {
						console.log(data);
						for(let i = 0; i < data.length; i++) {
							$("#rname").append("<option value = " + data[i].id + ">" + data[i].rname + "</option>")
						}
					}
				});
			});

			function SelectUser2() {
				layer.open({
					title: '员工',
					type: 2,
					area: ['60%', '60%'],
					fixed: false, //不固定
					maxmin: true,
					content: 'setting/emp/show'
				});
			}
		</script>
		<style type="text/css">
			input[type="radio"],
			input[type="checkbox"] {
				margin: -3px 6px 0;
				line-height: normal;
			}
		</style>
	</head>

	<body id="content">
		<section>

			<!-- 浏览路径线 -->
			<ol class="breadcrumb">
				<!-- 返回按钮,在栏目的第一页去掉返回按钮 -->
				<a href="javascript:window.history.back()" class="btn btn-default">
					<img src="static/img/back.png" />
				</a>

				<li>
					<a href="javascript:void(0)">人事</a>
				</li>
				<li>
					<a class="active">编辑用户</a>
				</li>
			</ol>

			<form class=" " enctype="multipart/form-data" id="form" method="post">
				<input type="hidden" name="user_desc" id="user_desc" value="" />
				<div class="grid_input_shell">
					<div class="container">
						<div class="row row_title">
							<div class="col-xs-12">
								<label class="text_border">基本资料</label>
							</div>
						</div>
						<div id="father">
							<div class="row">
								<div class="col-xs-6">
									<label for=""><em>*</em>编号：</label>
									<input type="text" name="id" placeholder="1001" data-placement="top" data-toggle="tooltip" class="form-control required " title="请填写编号 " onblur="GetPerson(this) " />
								</div>
								<div class="col-xs-6">
									<label for=""><em>*</em>员工：</label>
									<input type="text" class="form-control dfinput t_hui required" id="hr_sj_id_show" readonly="true" onclick="SelectUser2()" value="" title="请填写收件来源" />
									<input name="hr_emp_id" type="hidden">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<label for=""><em>*</em>账号：</label>
									<input type="text" data-placement="top" data-toggle="tooltip" title="请填写账号 " name="user_name" class="form-control required " />

								</div>

								<div class="col-xs-6 ">
									<label for=""><em>*</em>密码：</label>
									<input type="password" title="请填写密码" data-placement="top" data-toggle="tooltip" name="user_pwd" readonly onfocus="this.removeAttribute('readonly');" value="" class="form-control " />
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									<label for=""><em>*</em>姓名：</label>
									<input type="text" name="user_realname" data-placement="top" data-toggle="tooltip" class="form-control required " title="请填写姓名 " onblur="GetPerson(this) " />
								</div>

								<div class="col-xs-6 ">
									<label for=" "><em>*</em>手机：</label>
									<input type="text" name="user_phone " data-placement="top" data-toggle="tooltip" id="user_phone" value="13889368681" class="form-control required isMobile" title="请填写手机号码" maxlength="11" />
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									<label for=""><em>*</em>创建时间：</label>
									<div class="input-group">
										<input id="user_createdate" name="user_createdate" type="text" class="form-control required isMobile" style="width: 530px" disabled="disabled">
									</div>
								</div>

								<div class="col-xs-6" style="margin-top: 6px">
									<label for=""><em>*</em>是否在职：</label><br>
									<input data-placement="top" data-toggle="tooltip" checked="checked" name="user_status" type="radio" value="Y" title="在职" /> 在职
									<input data-placement="top" data-toggle="tooltip" name="user_status" type="radio" value="N" title="离职" /> 离职
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									<label for=""><em>*</em>用户组：</label>
									<div class="dropdown_box1">
										<div class="down_box">
											<select id="rname" name="role_id" class="required" data-placement="top" data-toggle="tooltip" title="请选择用户组">
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row row_title">
							<div class="col-xs-12">
								<label class="text_border">其他选填</label>
								<span class="input_display">展开</span>
							</div>
						</div>
						<div class="input3_other">
							<div class="row">
								<div class="col-xs-6">
									<label for="">生日：</label>
									<div class="input-group">
									<input id="user_pre_date" style="width: 530px" name="user_pre_date" type="text" class="Wdate t_edit form-control">
									</div>
								</div>
								<div class="col-xs-6">
									<label for="">邮箱：</label>
									<input style="width: 530px" id="user_email" name="user_email" type="text" data-placement="top" data-toggle="tooltip" class="form-control" maxlength="20">
								</div>
							</div>
						</div>
						<div class="row row_title">
							<div class="col-xs-12">
								<input type = "button" id="save" class="btn_solid" value = "确定提交">
							</div>
						</div>
					</div>
				</div>
				<script>
					$(document).on("mouseover", "input", function() {
						$("[data-toggle='tooltip']").tooltip();
					})
					$(document).on("mouseover", "select", function() {
						$("[data-toggle='tooltip']").tooltip();
					})
				</script>
			</form>
		</section>
	</body>
	<script src="static/js/md5.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function() {
			$("#save").on("click", function() {
				var arr = $("#father").find("input[type=text]")
				var len = $(arr).length;
				for(let i = 0; i < len; i++) {
					if($(arr[i]).val().trim() == '') {
						var str = $(arr[i]).prev().text();
						layer.msg(str.substr(1) + '  为必填选项 ');
						return;
					}
				}
				if($("input[name=user_pwd]").val() == "") {
					layer.msg('密码不能为空');
					return;
				}
				/* var TEL_REGEXP = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
				if(!(TEL_REGEXP.test($("#user_phone").val().trim()))) {
					layer.msg('请输入合法手机号');
					return;
				} */
				if($("input[name=user_name]").val() == "") {
					layer.msg('用户名不能为空!');
					$("input[name=user_pwd]").val("");
					return;
				}
				if($("input[name=user_pwd]").val() == "") {
					layer.msg('密码不能为空');
					return;
				}
				var pwd = $("input[name=user_pwd]").val() + $("input[name=user_name]").val();
				console.log(md5(pwd))
				$("input[name=user_pwd]").val(md5(pwd));
				$("input[name=user_desc]").val(md5(pwd));
				$.ajax({
					type: "post",
					url: "setting/user/adduser",
					data: $("form").serialize(),
					success: function(data) {
						if (data == "ok"){window.history.go(-1)}else{layer.msg("操作失敗")}
					}
				});
			})
		})
	</script>

</html>