<!DOCTYPE html>
<html>

<base href="/lawfirms/" />
<head>

<meta charset="UTF-8">
<title>律师事务所</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/css/parts2.css">
<link rel="stylesheet" type="text/css" href="static/css/main_green.css">
<script src="static/js/jquery-3.3.1.js"></script>
<script src="static/js/jquery.min.js" type="text/javascript"
	charset="utf-8"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script src="static/bootstrap-table/bootstrap-table.js"type="text/javascript" charset="utf-8"></script>
<script src="static/bootstrap-table/bootstrap-table-zh-CN.js"type="text/javascript" charset="utf-8"></script>
<script src="static/js/LyJs.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery-cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
</head>
<body id="content">
	<section>


		<form class="container-fluid page_find" id="searchForm">

			<input type="hidden" name="btn1" id="btn01"> 
			<input type="hidden" name="btn2" id="btn02">
			<input type="hidden" name="btn3" id="btn03"> 
			<input type="hidden" name="btn4" id="btn04"> 
			<input type="hidden" name="btn5" id="btn05">
			<input type="hidden" name="btn6" id="btn06"> 
			<input type="hidden" name="btn7" id="btn07">

			<!-- 选项卡 -->
			<ul class="tab">
				<a href="javascript:void(1);" class="tab_on" title="我的案件" id="btn1">我的案件</a>
				<a href="javascript:void(2);" title="在办案件" id="btn2">在办案件</a>
				<a href="javascript:void(3);" title="已结案件" id="btn3">已结案件</a>
				<a href="javascript:void(4);" title="我的合办案件" id="btn4">我的合办案件</a>
				<a href="javascript:void(5);" title="共享案件" id="btn5">共享案件</a>
				<a href="javascript:void(6);" title="我的待收款案件" id="btn6">我的待收款案件</a>
				<a href="javascript:void(7);" title="我的案件汇总" id="btn7">我的案件汇总</a>
			</ul>



			<div class="input-group">
				<input type="text" name="casePropernum" id="casePropernum"
					class="form-control">
			</div>
			<div class="down_box">
				<select name="Stat">
					<option value="">:案号搜索</option>
				</select>
			</div>
			<div class="down_box">
				<select name="caseApproveStatus" id="caseApproveStatus">
					<option value="">选择收案审批</option>
					<option value="N">未审批</option>
					<option value="O">审批未通过</option>
					<option value="Y">已审批</option>
				</select>
			</div>
			<div class="down_box" style="display: inline">
				<select name="caseSettleStatus" id="caseSettleStatus">
					<option value="">选择结案状态</option>
					<option value="N">未结案</option>
					<option value="Y">已结案</option>
				</select>
			</div>
			<div class="down_box">
				<select name="caseCaseTypeId" id="caseCaseTypeId">
					<option value="">案件类型</option>
					<option value="1001">民事案件</option>
					<option value="1002">刑事案件</option>
					<option value="1003">行政案件</option>
					<option value="1004">非诉讼法律事务</option>
					<option value="1005">法律顾问</option>
					<option value="1006">法律援助</option>
					<option value="1007">执行案件</option>
					<option value="1008">中保案件</option>
					<option value="1009">仲裁案件</option>
					<option value="1011">破产案件</option>
					<option value="1010">咨询代写文书</option>
				</select>
			</div>
			<div class="down_box">
				<select id="caseAssign" name="caseAssign">
					<option value="">是否指派</option>
					<option value="Y">是</option>
					<option value="N">否</option>
				</select>
			</div>
			<input type="button" value="检索" id="myCasebtn" class="btn_solid">
		</form>

		<div id="datas">
			<table id="twotable" class="table white table-hover table-fixed-head"
				style="table-layout: fixed;"
				id="table">
			</table>
		</div>
<style type="text/css">
#set_20190100161 {
	left: auto;
	right: 77px;
	top: 10px;
}


</style>
</body>
</html>