<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>辽宁盛恒律师事务所</title>
    <meta name="keywords" content="律师软件,律师事务所管理软件,律师办案管理系统,律师事务所管理系统,律师业务管理软件,律师案件管理软件,律所信息化">
    <meta name="description" content="e律师——以技术优势提升中国律所整体运营管理能力！">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link id="main_link" rel="stylesheet" type="text/css" href="static/css/parts2.css">
	<link rel="stylesheet" type="text/css" href="static/bootstarp/css/bootstrap-table.css"/>
    <link id="main_link2" rel="stylesheet" type="text/css" href="static/css/main_blue.css">
    <script src="static/js/jquery-3.2.0.js"></script>
    <script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script src="static/bootstarp/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/bootstarp/js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/CityList.js" charset="gb2312" type="text/javascript"></script>
    <script src="static/js/jquery.form.js"></script>
    <script src="static/js/MouseOpen.js"></script>
    <script src="static/js/WebSiteJs.js"></script>
    <script src="static/layer/layer.js"></script>
    <script src="static/jquery-cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="static/css/laydate.css" id="layuicss-layer">
    <script src="static/js/jquery.validate.js"></script>
    <script src="static/js/jquery.validate.min.js"></script>
    <script src="static/js/messages_zh.js"></script>
    <script src="static/js/layDate5.0.9/laydate.js"></script><link rel="stylesheet" href="http://jutian.elvshi.cn/Content/Js/layDate-v5.0.9/laydate/theme/default/laydate.css?v=5.0.9" id="layuicss-laydate">
    <script src="static/js/echarts.min.js"></script>
    <script type="text/javascript" src="static/js/parts.js"></script>   
</head>

<body id="content">
	<section>
        

<script>
		function dayin(){
			
		}
	
    $(function () {
    	$.ajax({
    		type:"get",
    		url:"viewdetailed/"+$.cookie("viewdetailID"),
    		async:true,
    		success:function(data){
    			console.log(data)
    			$("#case_propernum").html(data[0].case_propernum)
    			$("#case_cause").html(data[0].case_cause)
    			$("#case_parties ").html(data[0].case_parties)
    			$("#case_opposite_parties").html(data[0].case_opposite_parties)
    			$("#case_status").html(data[0].case_status)
    			$("#case_lawsuit_status").html(data[0].case_lawsuit_status)
    			$("#case_accept").html(data[0].case_accept)
    			$("#case_agencyfee").html(data[0].case_agencyfee)
    			$("#case_paidsal").html(data[0].case_paidsal)
    			$("#case_invoiced").html(data[0].case_invoiced)
    			$("#case_charge_way").html(data[0].case_charge_way)
    			if(data[0].case_approve_status=="N"){
    				$("#case_approve_status").html("否")
    			}else if(data[0].case_approve_status=="Y"){
    				$("#case_approve_status").html("是")
    			}
    			
    		}
    	});
    	
    	
    	
    	
    	
        var PrintAuth = '0';
        if (PrintAuth == "1") {
            layer.msg("打印失败，文书需要审批后才能打印", {
                time: 2000
            }, function () {

            });
        }
    });
</script>
<!-- 页面加载动画 -->
<div class="load1" id="loading" style="display: none; ">
    <div class="loader">Loading...</div>
</div>
<!-- 浏览路径线 -->
<ol class="breadcrumb" id="officialbreadcrumb" style="display:block; background-color: white;">

    <!-- 返回按钮,在栏目的第一页去掉返回按钮 -->
    <a href="javascript:window.history.back()" class="btn btn-default" draggable="false">
        <img src="static/img/back.png" draggable="false">
    </a>

    <li><a href="javascript:void(0)" draggable="false">案件管理</a></li>
    <li><a class="active" draggable="false">公章使用详情</a></li>
</ol>
<div class="case_detail container">
    <div class="row row_title">
<div class="shell text_group">
    <div class="my_grid">
        <div class="all_box text_box">
            案号：<p title=""><a href="#" draggable="false" id="case_propernum"></a></p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            案由：<p id="case_cause"></p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            委托人/当事人：<p id="case_parties"></p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            对方当事人：<p id="case_opposite_parties">

               
            </p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            诉讼阶段：<p id="case_status">
			
               
            </p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            诉讼：<p id="case_lawsuit_status">

                
            </p>
        </div>
    </div>

              <div class="my_grid">
            <div class="all_box text_box">
                受理部门：<p id="case_accept"></p>
            </div>
        </div>

    <div class="my_grid">
        <div class="all_box text_box">
            代理费：<p id="case_agencyfee"></p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            已收费金额：<p id="case_paidsal"></p>
        </div>
    </div>


    <div class="my_grid">
        <div class="all_box text_box">
            已开票金额：<p id="case_invoiced"></p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            收费方式：<p id="case_charge_way"></p>
        </div>
    </div>

    <div class="my_grid">
        <div class="all_box text_box">
            收案审批状态：<p id="case_approve_status"></p>
        </div>
    </div>

    
</div>

    </div>

</div>

<div class="case_detail container">
    <div class="row row_title">
        <table class="table white table-hover table-fixed-head" data-table-fixed-head-trigger="0" data-table-fixed-head-top="0" id="table_other" style="text-align: center;">
           
        </table>





    </div>
</div>

<script src="static/js/table.js"></script>
<script>
    function OfficialDel(id) {
        layer.msg('确认要删除此项吗？', {
            time: 0 //不自动关闭
               , btn: ['确定', '取消']
               , yes: function (index) {
                   layer.close(index);
                   $.ajax({
                       type: "POST",
                       url: "/Official/AjaxFileUpLoadDel",
                       data: { "ID": id },
                       async: false,
                       success: function (result) {
                           result = JSON.parse(result);
                           layer.msg(result.R, {
                               time: 1500
                           }, function () {
                               $("#" + id).remove();
                           });
                       }
                   });
               }
        });
    }

    function BatchPrint() {
        var IsWord = true;
        $("input:checkbox[name='FileTypeID']:checked").each(function () {
            var VFilePath = $(this).val().split(',')[0].toLowerCase();
            if (VFilePath != "doc" && VFilePath != "docx")
                IsWord = false;
        });
        if (!IsWord) {
            layer.msg("只能批量打印Word文件，请重新选择", function () {
                //关闭后的操作
            });
            return false;
        }

        var s = "";
        $("input:checkbox[name='FileTypeID']:checked").each(function () {
            var id = $(this).val().split(',')[1];
            s += id + ",";
        });
        if (s.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Official/OfficialBatchPrintCheck",
                data: { "Ids": s.substring(0, s.length - 1) },
                async: false,
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.R == 0) {
                        layer.msg("打印失败，文书需要审批后才能打印", {
                            time: 1500
                        }, function () {

                        });
                    } else {
                        window.location.href = "/Official/OfficialBatchPrint?Ids=" + s.substring(0, s.length - 1) + "&OfficialID=" + $("#OfficialID").val() + "&CaseId=" + $("#CaseId").val();
                    }
                }
            });
        } else {
            layer.msg("请选择要打印的Word文件", function () {
                //关闭后的操作
            });
        }
    }

    //批量锁定
    function Lock() {
        var s = "";
        $("input:checkbox[name='FileTypeID']:checked").each(function () {
            var id = $(this).val().split(',')[1];
            s += id + ",";
        });
        if (s.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Official/OfficialBatchLock",
                data: { "Ids": s.substring(0, s.length - 1), "OfficialID": $("#OfficialID").val(), "CaseId": $("#CaseId").val(), "AuditId": $("#AuditId").val() },
                async: false,
                success: function (result) {
                    result = JSON.parse(result);
                    layer.msg(result.R, {
                        time: 1000
                    }, function () {
                        if (result.H.length > 0) {
                            window.location.href = result.H;
                        }
                    });
                }
            });
        } else {
            layer.msg("请选择要锁定的数据", function () {
                //关闭后的操作
            });
        }
    }
    //审批
    function Approve() {
        var s = "";
        $("input:checkbox[name='FileTypeID']:checked").each(function () {
            var id = $(this).val().split(',')[1];
            s += id + ",";
        });
        if (s.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Official/OfficialBatchApprove",
                data: { "Ids": s.substring(0, s.length - 1), "OfficialID": $("#OfficialID").val() },
                async: false,
                success: function (result) {
                    result = JSON.parse(result);
                    layer.msg(result.R, {
                        time: 1500
                    }, function () {
                        if (result.H.length > 0) {
                            window.location.href = result.H;
                        }
                    });
                }
            });
        } else {
            layer.msg("请选择要审批的数据", function () {
                //关闭后的操作
            });
        }
    }


    function PrintFail() {
        layer.msg("打印失败，该文书需要审批后才能打印", {
            time: 1000
        }, function () {
            //关闭后的操作
            window.location.href = "/Official/OfficialDes?CaseId=" + $("#CaseId").val();
        });
    }
</script>

<script>
    // 多选框全选
    var allMarkNum = 0;
    $('.all_marks').click(function () {
        allMarkNum++;
        if (allMarkNum % 2 == 0) {
            $(':checkbox').prop('checked', false);
            $(':checkbox').removeClass('input_checked');
        } else {
            $(':checkbox').prop('checked', true);
            $(':checkbox').addClass('input_checked');
        }
    })
</script>

    </section>

</body>
</html>