<!DOCTYPE html>
<html>
	<base href="/lawfirms/" />
	<head>
		<meta charset="UTF-8">
		<title>湖北巨天律师事务所</title>
		<meta name="keywords" content="律师软件,律师事务所管理软件,律师办案管理系统,律师事务所管理系统,律师业务管理软件,律师案件管理软件,律所信息化">
		<meta name="description" content="e律师——以技术优势提升中国律所整体运营管理能力！">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
		<link id="main_link" rel="stylesheet" type="text/css" href="static/css/parts2.css">
		<link rel="stylesheet" type="text/css" href="static/bootstarp/css/bootstrap-table.css"/>
	
		<link id="main_link2" rel="stylesheet" type="text/css" href="static/css/main_blue.css">
		<script src="static/js/jquery-3.2.0.js"></script>
		<script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/jquery-cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/bootstrap.js"></script>
		<script src="static/bootstarp/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/bootstarp/js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/CityList.js" charset="gb2312" type="text/javascript"></script>
		<script src="static/js/jquery.form.js"></script>
		<script src="static/js/MouseOpen.js"></script>
		<script src="static/js/WebSiteJs.js"></script>
		<script src="static/layui/lay/modules/layer.js"></script>
		<link rel="stylesheet" href="static/css/laydate.css" id="layuicss-layer">
		<script src="static/js/jquery.validate.js"></script>
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/messages_zh.js"></script>
		<script src="static/js/layDate5.0.9/laydate.js"></script>
		<script src="static/js/echarts.min.js"></script>
		<script type="text/javascript" src="static/js/parts.js"></script>
	<script type="text/javascript">
		
	function AddJobLog(){
		var id = $.cookie("client_log_id");
		var name = $.cookie("client_log_name");
		if(id!=null&&name!=null&&id!=""&&name!=""){
			window.location.href='goto/log/addlog'
		}else{
			alert("请选择添加服务的客户")
		}
		
	}
		
	function ExportExcel(){
		window.location.href="export"
	}
		
		
	function AddCustom(){
		window.location.href = "gotoadd";
	}
	
	function Sel(id){
		$.cookie("clientSelById",id)
		window.location.href="gotoclientSel";
	}
	
	function update(id){
		$.cookie("clientupdateId",id)
		window.location.href = "gotoupdateclient";
	}
	

		$(function(){
			$.cookie('client_log_id', '', { expires: -1 ,'path':'/'});
			$.cookie('client_log_name', '', { expires: -1,'path':'/' });
			
			$("#suosou").on("click",function(){
				$("#table").bootstrapTable("refresh");
			})
			
			
			$("#SearchType").change(function(){
			var stype = $("#SearchType").val();
			if(stype==1){
				$("#Title").attr("name","title");
			}else if(stype==4){
				$("#Title").attr("name","tel");
			}
		})
			
			
			
			$("#table").bootstrapTable({
				method: "get",
				url: "myclient",
				dataType: "json",
				onCheck:function(row){
					$.cookie("client_log_id",row.id,{'path':'/'});
					$.cookie("client_log_name",row.client,{'path':'/'});
				},
				pagination: true, //开启分页
				pageNumber: 1, //默认显示第几页
				pageSize: 8, //每页几条数据
				pageList: [1, 2, 3, 4,5,6,7,8,9,10],
				sidePagination: "server", //client 前台分页，server后台分页 
				queryParams: function(params) {
					return {
						offset: params.offset,
						limit:params.limit,
						client:$("input[name='title']").val(),
						tel:$("input[name='tel']").val(),
						clientAssign:$("#CFrom").val(),
						clientStuatus:$("#CustType").val()
					}
				},
				columns: [{
					 title:"选择",
					 halign:"center",
					 radio:true
				},{
					title: "客户(委托人)",
					halign: "center",
					formatter: function (value, row, index) {
                    return "<a href='javascript:Sel("+ row.id+")' data-title=\"用户名\">" + row.client + "</a>";
					 }
				}, {
					title: "联系电话",
					halign: "center",
					field: "tel"
				}, {
					title: "地区",
					halign: "center",
					field: "detail.clientRegion"
				},{
					title:"是否指派",
					halign:"center",
					formatter:function(value,row,index){
						if(row.detail.clientAssign=='N'){
							return "否"
						}else if(row.detail.clientAssign=='Y'){
							return "是"
						}
					}
				},{
					title: "操作",
					halign: "center",
					formatter: function(value, row, index, field) {
						var oSel = "<a href='javascript:update(" +row.id+ ")' target='myiframe'>修改</a>"
						return oSel;
					}
				}]

			})
		})
		

		
		</script>
	
	</head>

	<body id="content" style="padding-bottom: 67px;">
		

			<!-- 页面加载动画 -->
			<div class="load1" id="loading" style="display: none;">
				<div class="loader">Loading...</div>
			</div>

			<!-- 浏览路径线 -->
			<ol class="breadcrumb" style="background-color: white;">
				<a href="javascript:window.history.back()" class="btn btn-default" draggable="false">
					<img src="static/img/back.png" draggable="false">
				</a>

				<li>
					<a href="javascript:void(0)" draggable="false">客户管理</a>
				</li>
				<li>
					<a class="active" draggable="false">我的客户</a>
				</li>
			</ol>

			<form action="" class="container-fluid page_find" id="searchForm" method="post" >
				<div class="input-group">
					<input type="text" id="Title" name="title" class="form-control">
				</div>
				<div class="down_box">
					<select name="SearchType" id="SearchType" class="selct_1">
						<option value="1">客户（委托人）搜索</option>
						
						<option value="4">电话搜索</option>
					</select>
				</div>
				<div class="down_box">
					<select name="CFrom" id="CFrom" class="selct_1">
						<option value="">是否指派</option>
						<option value="Y">是</option>
						<option value="N">否</option>
					</select>
				</div>
				<div class="down_box">
					<select id="CustType" name="CustType">
						<option value="">请选择</option>
						<option value="潜在客户">潜在客户</option>
						<option value="目标客户">目标客户</option>
						<option value="正式客户">正式客户</option>
						<option value="有效客户">有效客户</option>
						<option value="无效客户">无效客户</option>
						<option value="重点跟进">重点跟进</option>
					</select>
				</div>
				<input type="button" value="检索" class="btn_solid" id="suosou"/>
				<input type="button" class="btn_hollow" onclick="AddCustom()" style="margin-left: 80px;" value="添加客户"/>
				<input type="button" class="btn_hollow" onclick="AddJobLog()" value="添加服务记录"/>
				<input type="button" class="btn_hollow" value="导出" id="export" onclick="ExportExcel()" style="margin-left: 2px">
			</form>

				<table class="table white table-hover table-fixed-head fixed" data-table-fixed-head-trigger="96" data-table-fixed-head-top="0" id="table" style="text-align: center;">

					
				</table>

	</body>

</html>