<!DOCTYPE html>
<html>
	<base href="/lawfirms/"/>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
		<link id="main_link" rel="stylesheet" type="text/css" href="static/css/parts2.css">
		<link rel="stylesheet" type="text/css" href="static/bootstarp/css/bootstrap-table.css" />

		<link id="main_link2" rel="stylesheet" type="text/css" href="static/css/main_blue.css">
		<script src="static/js/jquery-3.2.0.js"></script>
		<script src="static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/jquery-cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="static/js/bootstrap.js"></script>
		<script src="static/bootstarp/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/bootstarp/js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/CityList.js" charset="gb2312" type="text/javascript"></script>
		<script src="static/js/jquery.form.js"></script>
		<script src="static/js/MouseOpen.js"></script>
		<script src="static/js/WebSiteJs.js"></script>
		<script src="static/layui/lay/modules/layer.js"></script>
		<link rel="stylesheet" href="static/css/laydate.css" id="layuicss-layer">
		<script src="static/js/jquery.validate.js"></script>
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/messages_zh.js"></script>
		<script src="static/js/layDate5.0.9/laydate.js"></script>
		<link rel="stylesheet" href="http://jutian.elvshi.cn/Content/Js/layDate-v5.0.9/laydate/theme/default/laydate.css?v=5.0.9" id="layuicss-laydate">
		<script src="static/js/echarts.min.js"></script>
		<script type="text/javascript" src="static/js/parts.js"></script>
		<script>
			var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族", "土家族",
				"哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族",
				"土族", "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族",
				"俄罗斯族", "鄂温克族", "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"
			];
			
			
			
			

			$(function() {
					$("#client").blur(function() {
					var clientname = $("#client").val();
					$.ajax({
						type: "get",
						url: "cientname/" + clientname + "",
						async: true,
						success: function(data) {
							alert(data)
							if(data != 0) {
								
								layer.msg('已有重复的名称,请重新输入');
								$("#client").val("");
								return;
							
							} else {

							}
							
						}
					});
				})

				$("#idnumber").blur(function() {
					var idnumber = $("#idnumber").val();
					var clientid = $("#client_id").val();
					$.ajax({
						type:"post",
						url: "idnumberSel",
						data:{"idnumber":idnumber,"clientid":clientid},
						async: true,
						success:function(data){
							if(data != 0) {
							alert("已有重复的证件号，请重新输入")
							$("#idnumber").val("");
						} 
						}
					});
				})
				
				$("#clientIdcard").blur(function(){
					var clientIdcard = $("#clientIdcard").val();
					var clientid = $("#client_id").val();
					$.ajax({
						type:"post",
						url:"clientIdcardSel",
						data:{"clientIdcard":clientIdcard,"clientid":clientid},
						async:true,
						success:function(data){
						if(data != 0) {
							alert("已有重复的证件号，请重新输入")
							$("#clientIdcard").val("");
							return;
						} 
							
						
						}
					});
				})
				
				
					$.ajax({
						type:"get",
						url:"clientSelect/"+$.cookie("clientupdateId"),
						async:true,
						success:function(data){
							console.log(data);
							$("#client_id").val(data[0].id);
							$("#client").val(data[0].client);
							$("#clientAddtime").val(data[0].clientAddtime);
							$("#clientBehalf").val(data[0].clientBehalf);
							$("#clientBirth").val(data[0].clientBirth);
							$("#clientContacts").val(data[0].clientContacts);
							$("#clientDuty").val(data[0].clientDuty);
							$("#clientEmail").val(data[0].clientEmail);
							$("#clientFile").val(data[0].clientFile);
							$("#clientIdcard").val(data[0].clientIdcard);
							$("#clientInfluence").val(data[0].clientInfluence);
							$("#clientLegalphone").val(data[0].clientLegalphone);
							$("#clientNation").val(data[0].clientNation);
							$("#clientPhone").val(data[0].clientPhone);
							$("#clientPrincipal").val(data[0].clientPrincipal);
							$("#clientRegion").val(data[0].clientRegion);
							$("#clientRemark").val(data[0].clientRemark);
							$("#clientSex").val(data[0].clientSex);
							$("#clientSite").val(data[0].clientSite);
							$("#clientStuatus").val(data[0].clientStuatus);
							$("#clientType").val(data[0].clientType);
							$("#clientTypeId").val(data[0].clientTypeId);
							$("#companyNature").val(data[0].companyNature);
							$("#companyScale").val(data[0].companyScale);
							$("#empId").val(data[0].empId);
							$("#idnumber").val(data[0].idnumber);
							$("#industry").val(data[0].industry);
							$("#tel").val(data[0].tel);
							$("#type").val(data[0].type);
							$("#idtype").val(data[0].idtype);
							
						}
					});
				
				
				$("#form").validate({
					errorPlacement: function(error, element) {
						//element.parent().find("label").after(error);
						if(element.context.tagName == 'SELECT') {
							$(element).css('color', '#3a3a3a');
						}
						if(element.attr("name") == "CustCols" || element.attr("name") == "CustCols") {
							element.parent().parent().parent().find("label").after(error);
						} else {
							element.parent().find("label").after(error);
						}
					}
				});

				var FamilyName = '';
				for(var i in nations) {
					if(FamilyName == nations[i]) {
						$("#FamilyName")
							.append("<option value='" + nations[i] + "' selected='selected' >" + nations[i] + "</option>");
					} else {
						$("#FamilyName").append("<option value='" + nations[i] + "' >" + nations[i] + "</option>");
					}
				}

				

				Init();
				$("#clientTypeId").change(function() {
					var cols = $("#clientTypeId").val();
					if(cols==1){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").show();
						$("#TableType").hide();
						$("#DivUNums").hide();
						$("#Tablemodeone").hide();
						$("#Tablegongsi").hide();
					}else if(cols==2){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").hide();
						$("#DivUNums").show();
						$("#TableType").show();
						$("#Tablemodeone").show();
						$("#Tablegongsi").hide();
						$("#type").append("<option value='政府'>政府</option>"+"<option value='政府-省级政府'>&nbsp;&nbsp;&nbsp;--- 省级政府</option>"
						+"<option value='政府-市级政府'>&nbsp;&nbsp;&nbsp;--- 市级政府</option>"+"<option value='政府-县级政府'>&nbsp;&nbsp;&nbsp;--- 县级政府</option>"
						+"<option value='政府-乡镇政府'>&nbsp;&nbsp;&nbsp;--- 乡镇政府</option>"+"<option value='政府-街道办事处'>&nbsp;&nbsp;&nbsp;--- 街道办事处</option>"
						+"<option value='政府部门'>政府部门</option>"+"<option value='政府部门-国家部委办'>&nbsp;&nbsp;&nbsp;--- 国家部委办</option>"+"<option value='政府部门-省级政府部门'>&nbsp;&nbsp;&nbsp;--- 省级政府部门</option>"
						+"<option value='政府部门-市级政府部门'>&nbsp;&nbsp;&nbsp;--- 市级政府部门</option>"+"<option value='政府部门-县级政府部门'>&nbsp;&nbsp;&nbsp;--- 县级政府部门</option>"
						+"<option value='党委系统'>党委系统</option>"+"<option value='人大'>人大</option>"+"<option value='政协'>政协</option>"+"<option value='四套班子领导'>四套班子领导</option>"
						+"<option value='其它'>其它</option>")
					}else if(cols==3){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").hide();
						$("#DivUNums").show();
						$("#TableType").hide();
						$("#Tablemodeone").hide();
						$("#Tablegongsi").hide();
						
					}else if(cols==4){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#DivUNums").show();
						$("#TableMode").hide();
						$("#TableType").hide();
						$("#Tablemodeone").show();
						$("#Tablegongsi").hide();
						$("#type").append("<option value='商会'>商会</option>"+"<option value='行业协会'>行业协会</option>"+"<option value='其他社团组织'>其他社团组织</option>")
					}else if(cols==5){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#Tablegongsi").show();
						$("#industry").append("<option value='工业企业'>工业企业</option>"
								 +"<option value='农业企业'>农业企业</option>"
					              +"<option value='服务业企业'>服务业企业</option>"
								  +"<option value='金融机构'>金融机构</option>"
								  +"<option value='金融机构-银行'>&nbsp;&nbsp;&nbsp;--- 银行</option>"
								  +"<option value='金融机构-证券'>&nbsp;&nbsp;&nbsp;--- 证券</option>"
								  +"<option value='金融机构-保险'>&nbsp;&nbsp;&nbsp;--- 保险</option>"
				   				  +"<option value='金融机构-小额贷款公司'>&nbsp;&nbsp;&nbsp;--- 小额贷款公司</option>"
							   	  +"<option value='金融机构-其他'>&nbsp;&nbsp;&nbsp;--- 其他</option>"
								  +"<option value='省高新技术企业'>省高新技术企业</option>"
								  +"<option value='其他' selected='selected'>其他</option>")
								  
						$("#companyNature").append("<option value='国有'>国有</option>"+"<option value='民营' selected='selected'>民营</option>"+"<option value=’外资'>外资</option>")
						$("#TableMode").hide();
						$("#DivUNums").show();
						$("#TableType").hide();
						$("#Tablemodeone").hide();
					}else if(cols==6){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").hide();
						$("#TableType").hide();
						$("#DivUNums").show();
						$("#Tablegongsi").hide();
					}else if(cols==7){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").hide();
						$("#TableType").hide();
						$("#DivUNums").show();
						$("#Tablemodeone").hide();
						$("#Tablegongsi").hide();
					}else if(cols==9){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").hide();
						$("#TableType").hide();
						$("#DivUNums").show();
						$("#Tablemodeone").hide();
						$("#Tablegongsi").hide();
					}else if(cols==8){
						$("#type").empty();
						$("#companyNature").empty();
						$("#industry").empty();
						$("#TableMode").hide();
						$("#TableType").hide();
						$("#DivUNums").show();
						$("#Tablemodeone").show();
						$("#Tablegongsi").hide();
						$("#type").append("<option value='行政村'>行政村</option>"+"<option value='社区'>社区</option>")
					}
				});

				var customName = '';
				if(customName.length > 0) {
					CustomExists();
				}

				var elinks = '';
			

			});

			function CustomExists() {
				var IsPost = false;
				if($("#ID").val() == "0") {
					var EL = '';
					if(EL == "")
						IsPost = false;
					else {
						//var GetCustId = 0;
						$.ajax({
							type: "POST",
							async: false,
							url: "/Custom/EqualCustom",
							//data: { "Cols": $("#CustCols").val(), Title: $("#Title").val() },
							data: {
								"Cols": "1",
								Title: $("#Title").val()
							},
							success: function(result) {
								result = JSON.parse(result);
								if(result.R.ID > 0) {
									//if (confirm("该客户已经存在，是否需要直接立案？")) {
									//    IsPost = true;
									//    location.href = EL + '&Cid=' + result.R.ID;
									//}
									//else {
									//    IsPost = false;
									//}

									layer.msg('该客户已经存在，是否需要直接立案？', {
										time: 0 //不自动关闭
											,
										btn: ['确定', '取消'],
										yes: function(index) {
											layer.close(index);
											IsPost = true;
											location.href = EL + '&CustID=' + result.R.ID;
										}
									});
								}
							}
						});
					}
				}
				return IsPost;
			}

			function GetModelHtml(Wid) {
				var Cid = $("#ID").val();
				//var Wid = $("#CustCols").val();
				if(Wid == "") {
					document.getElementById("TableMode").innerHTML = "";
				} else {
					var day = new Date();
					var TimeStr = day.getFullYear().toString() + (day.getMonth() + 1).toString() + day.getDate().toString() + day.getHours().toString() + day.getMinutes().toString() + day.getSeconds().toString();
					$.ajax({
						type: "POST",
						url: "/Custom/CustomAttribute",
						data: {
							"CustCols": Wid,
							ID: $("#ID").val()
						},
						success: function(result) {
							result = JSON.parse(result);
							document.getElementById("TableMode").innerHTML = result.html;
						}
					});
				}
			}

			function Init() {

				if($("#ID").val() == "0") {
					var VTitle = $("Title").val();
					if(VTitle.indexOf("公司") != -1) {
						$("#CustCols").val("5");
					} else {
						$("#CustCols").val("1");
					}
					GetModelHtml($("#CustCols").val());
				} else {
					var CaseColsID = '0'
					if(CaseColsID == 0) {
						GetModelHtml($("#CustCols").val());
					} else {
						GetModelHtml(CaseColsID);
					}
				}
			}


			function UpFile() {
				var Wid = $("#Wid").val();
				var Uid = $("#Uid").val();
				var day = new Date();
				var TimeStr = day.getFullYear().toString() + (day.getMonth() + 1).toString() + day.getDate().toString() + day.getHours().toString() + day.getMinutes().toString() + day.getSeconds().toString();
				var VMakeId = document.getElementById("TMakeId").value;
				layer.open({
					title: '文件上传',
					type: 2,
					area: ['45%', '55%'],
					fixed: true, //不固定
					maxmin: true,
					//content: '/CFileUpload/UploadFileStore?MakeId=' + VMakeId + "&S=" + TimeStr + "&Cols=1"
					content: '/CFUpload/index.aspx?MakeId=' + VMakeId + "&S=" + TimeStr + "&Cols=1&TUid=" + Uid + "&TWid=" + Wid + "&Ts=3"
				});
			}

			var openCount = 0;

			function SetClose() {
				openCount++;
				GetUpCount();
				layer.close(openCount);
			}

			function GetUpCount() {
				$.ajax({
					type: "POST",
					url: "/CFileUpload/UploadFileStoreList",
					data: {
						"TimeStamp": $("#TMakeId").val(),
						"Wid": $("#Wid").val(),
						"Cols": 1
					},
					async: false,
					success: function(result) {
						result = JSON.parse(result);
						//$("#DivUpCount").html(result.C);
						//$("#FileCount").val(result.C);
						for(var i = 0; i < result.R.length; i++) {
							var s = "";
							var fp = result.R[i]["FilePath"].toLowerCase();
							if(fp.indexOf('.jpg') > -1 || fp.indexOf('.png') > -1 ||
								fp.indexOf('.gif') > -1 || fp.indexOf('.jpeg') > -1 || fp.indexOf('.bmp') > -1) {
								s += "<li style=\"float: left; margin-left: 20px\" id=\"li" + result.R[i]["ID"] + "\"><a href=\"javascript:ShowImgFullPath('" + result.R[i]["FilePath"] + "')\">" + result.R[i]["FileName"] + "</a>";
							} else {
								//s += "<li style=\"float: left; margin-left: 20px\" id=\"li" + result.R[i]["ID"] + "\"><a href=" + result.R[i]["FilePath"] + ">" + result.R[i]["FileName"] + "</a>";
								s += "<li style=\"float: left; margin-left: 20px\" id=\"li" + result.R[i]["ID"] + "\"><a href=/FileView/DownUpload?TbName=FileStore&ID=" + result.R[i]["ID"] + ">" + result.R[i]["FileName"] + "</a>";
							}

							s += "<a href=\"javascript:del(" + result.R[i]["ID"] + ")\" style=\"font-size:15px;color:green\">-删除</a></li>";
							$("#FileULDIV").show();
							if($("#li" + result.R[i]["ID"]).length <= 0) {
								$("#FileUL").append(s);
							}
						}
					}
				});
				//$.ajax({
				//    type: "POST",
				//    url: "/CFileUpload/UploadFileStoreCount",
				//    data: { "TimeStamp": $("#TMakeId").val(), "Wid": $("#Wid").val() },
				//    async: false,
				//    success: function (result) {
				//        result = JSON.parse(result);
				//        $("#DivUpCount").html(result.R);
				//        $("#FileCount").val(result.R);
				//    }
				//});
			}
		</script>
		<!-- 页面加载动画 -->
		<div class="load1" id="loading" style="display: none;">
			<div class="loader">Loading...</div>
		</div>
		<!-- 浏览路径线 -->
		<ol class="breadcrumb" style="background-color: white;">
			<!-- 返回按钮,在栏目的第一页去掉返回按钮 -->
			<a href="javascript:window.history.back()" class="btn btn-default" draggable="false">
				<img src="static/img/back.png" draggable="false">
			</a>

			<li>
				<a href="javascript:void(0)" draggable="false">客户管理</a>
			</li>
			<li>
				<a class="active" draggable="false">客户修改</a>
			</li>
		</ol>

		<input type="hidden" id="bb" name="bb" value="1">

		<form action="updatelient" class="" enctype="multipart/form-data" id="form" method="post">
			<input type="hidden" id="client_id" name="id" value="">
			<div class="grid_input_shell ly_rm_td_style">
				<div class="container">
					<div class="row row_title">
						<div class="col-xs-12">
							<label class="text_border">基本资料</label>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6">

							<label for=""><em>*</em>客户：</label>
							<input type="text" name="client" id="client"  class="form-control required" maxlength="600" title="请填写客户(委托人)" placeholder="请输入客户" required="required"
									 pattern="[\u4e00-\u9fa5]{2,4}" placeholder="请输入客户" oninvalid="setCustomValidity('真实姓名必须是中文，且长度不小于2，不大于4')"
									 oninput="setCustomValidity('')"  >
						</div>
						<div class="col-xs-6">

							<label for="">
                        手机号码：
                         <ul class="cue  display_inline float_right" title="" data-toggle="tooltip" data-placement="right auto" data-original-title="固话请放在备注
请正确填写手机号码，案件录入后，我们会短信提醒委托人。" >
                             <!-- 提示信息 -->
                             <li></li>
                             <li></li>

                         </ul>
                    </label>
							<input type="text" name="tel" id="tel" value="" class="form-control isMobile"  required="required"
										 maxlength="11" pattern="^(0|86|17951)?1[0-9]{10}" placeholder="请输入手机号" oninvalid="setCustomValidity('请输入11位手机号码')"
										 oninput="setCustomValidity('')" >
						</div>

					</div>

					<div class="row">
						<div class="col-xs-6">
							<label for="">
                        <em>*</em>
                        客户类型：
                    </label>
							<div class="dropdown_box1">
								<div class="down_box">
									<select id="clientTypeId" name="clientTypeId " title="请选择客户类型">
										<option value="1">公民个人</option>
										<option value="2">机关单位</option>
										<option value="3">事业单位</option>
										<option value="4">社会团体、社会组织</option>
										<option value="5">公司企业</option>
										<option value="6">涉外的法人、公民或其他组织</option>
										<option value="7">个体工商户</option>
										<option value="8">村（社区）</option>
										<option value="9">其他</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-xs-6"  id="DivUNums" style="display: none;">

							<label for="">
                        <em id="emUNums" style="display: none">*</em>证件号：
                    </label>
							<input type="text" name="idnumber" id="idnumber" value="" class="form-control" title="请填写证件号">
						</div>
						
					<div class="col-xs-12" id="Tablemodeone" style="display: none;">
	<table width="100%" border="0" cellspacing="1" cellpadding="0">
		<tbody>
			<tr>
				<td class="td3" style="width:100px">
					<font color="red">*</font> <label>类型</label>：<input type="hidden" id="HModel76" name="HModel76" value=""></td>
				<td colspan="3">
					<div class="dropdown_box1">
						<div class="down_box">
							<select id="type" name="type" class="selct_1">
								<option value="">请选择</option>
								
							</select>
							<div></div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<input type="hidden" id="TModelList" name="TModelList" value="76">
					</div>
						
						
						
<div class="col-xs-12" id="Tablegongsi" style="display: none;">
	<table width="100%" border="0" cellspacing="1" cellpadding="0">
		<tbody>
			<tr>
				<td class="td3" style="width:100px">
					<font color="red">*</font> <label>公司性质</label>：<input type="hidden" id="HModel18" name="HModel18" value="公司性质,2"></td>
				<td colspan="3">
					<div class="dropdown_box1">
						<div class="down_box">
							<select id="companyNature" name="companyNature " class="selct_1 valid">
								<option value="">请选择</option>
	
							</select>
							<div></div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="td3" style="width:100px">
					<font color="red">*</font> <label>公司规模</label>：<input type="hidden" id="HModel19" name="HModel19" value="公司规模,3"></td>
				<td colspan="3">
					<input type="checkbox" onclick="CheckCh(this)" id="companyScale" name="companyScale" value="世界500强"> 世界500强 &nbsp;&nbsp;
					<input type="checkbox" onclick="CheckCh(this)" id="TModel61" name="companyScale" value="国家500强"> 国家500强 &nbsp;&nbsp; 
						<input type="checkbox" onclick="CheckCh(this)" id="TModel62" name="companyScale" value="上市公司"> 上市公司 &nbsp;&nbsp; 
							<input type="checkbox" onclick="CheckCh(this)" id="TModel63" name="companyScale" value="规上企业"> 规上企业 &nbsp;&nbsp; 
								<input type="checkbox" onclick="CheckCh(this)" id="TModel64" name="companyScale" value="小微企业"> 小微企业 &nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td class="td3" style="width:100px">
					<font color="red">*</font> <label>产业</label>：<input type="hidden" id=" " name=" " value="产业,2"></td>
				<td colspan="3">
					<div class="dropdown_box1">
						<div class="down_box">
							<select id="industry" name="industry" class="selct_1">
								
							</select>
							<div></div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<input type="hidden" id="TModelList" name="TModelList" value="18,19,20">
	
</div>
						
						
				
			
						
					</div>

					<div class="row">
						<div class="col-xs-12" id="TableMode" style="display: block;" >
							<table width="100%" border="0" cellspacing="1" cellpadding="0">
								<tbody>
									<tr>
										<td class="td3" style="width:100px">
											<font color="red">*</font> <label>身份特点</label>：
											<input type="hidden" id="HModel16" name="HModel16" value="身份特点,3"></td>
										<td colspan="3">
											<input type="checkbox" onclick="CheckCh(this)" id="idtype" name="idtype" value="妇女"> 妇女 &nbsp;&nbsp;
											<input type="checkbox" onclick="CheckCh(this)" id="TModel32" name="idtype" value="未成年人"> 未成年人 &nbsp;&nbsp;
											<input type="checkbox" onclick="CheckCh(this)" id="TModel33" name="idtype" value="残疾人"> 残疾人 &nbsp;&nbsp; 
												<input type="checkbox" onclick="CheckCh(this)" id="TModel34" name="idtype" value="老年人"> 老年人 &nbsp;&nbsp;
												<input type="checkbox" onclick="CheckCh(this)" id="TModel36" name="idtype" value="农民"> 农民 &nbsp;&nbsp; 
													<input type="checkbox" onclick="CheckCh(this)" id="TModel37" name="idtype" value="农民工"> 农民工 &nbsp;&nbsp;
													<input type="checkbox" onclick="CheckCh(this)" id="TModel38" name="idtype" value="下岗职工"> 下岗职工 &nbsp;&nbsp;
													<input type="checkbox" onclick="CheckCh(this)" id="TModel39" name="idtype" value="城市居民" > 城市居民 &nbsp;&nbsp; 
														<input type="checkbox" onclick="CheckCh(this)" id="TModel40" name="idtype" value="外来人员"> 外来人员 &nbsp;&nbsp;</td>
									</tr>
								</tbody>
							</table>
							<input type="hidden" id="TModelList" name="TModelList" value="16">
						</div>
					</div>

					<div class="row row_title">
						<div class="col-xs-12">
							<label class="text_border">其他选填</label>
							<span class="input_display">收起</span>
						</div>
					</div>
					<div class="input3_other " style="display: block;">
						<div class="row">
							<div class="col-xs-6">
								<label for="">主要负责人：</label>
								<input type="text" name="clientPrincipal" id="clientPrincipal" value="" class="form-control" placeholder="请输入主要负责人" pattern="[\u4e00-\u9fa5]{2,5}" oninvalid="setCustomValidity('可不填,但必须是中文，且长度不小于2，不大于5')"
										 oninput="setCustomValidity('')">
							</div>

							<div class="col-xs-6">
								<label for="">业务联系人：</label>
								<input type="text" name="clientContacts" id="clientContacts" value="" class="form-control" placeholder="请输入业务联系人" pattern="[\u4e00-\u9fa5]{2,5}" oninvalid="setCustomValidity('可不填,但必须是中文，且长度不小于2，不大于5')"
										 oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<label for="">邮箱：</label>
								<input type="text" name="clientEmail" id="clientEmail" value="" class="form-control email" placeholder="请输入邮箱" pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" oninvalid="setCustomValidity('可不填,但必须符合邮箱格式')"
										 oninput="setCustomValidity('')">
							</div>

							<div class="col-xs-6">
								<label for="">职务：</label>
								<input type="text" name="clientDuty" id="clientDuty" value="" class="form-control" placeholder="请输入职务" pattern="[\u4e00-\u9fa5]{2,5}" oninvalid="setCustomValidity('可不填,但必须是中文，且长度不小于2，不大于5')"
										 oninput="setCustomValidity('')">
							</div>

						</div>

						<div class="row">
							<div class="col-xs-6">
								<label for="">地区影响力：</label>
								<input type="text" name="clientInfluence" id="clientInfluence" value="" class="form-control" placeholder="请输入地区影响力" pattern="[\u4e00-\u9fa5]{2,8}" oninvalid="setCustomValidity('可不填,但必须是中文，且长度不小于2，不大于8')"
										 oninput="setCustomValidity('')">
							</div>
							<div class="col-xs-6">
								<label for="">固定电话：</label>
								<input type="text" name="clientPhone" id="clientPhone" value="" class="form-control"
										 pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
										 placeholder="请输入住宅电话" oninvalid="setCustomValidity('（可不填）请输入号码只能为数字,或按座机区号-号码来添加')" oninput="setCustomValidity('')" > 
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<label for="">所属地区：</label>
								<div class="dropdown_box1">
									<div class="down_box">
										<select id="Province" >

											<option value="省/直辖市">省/直辖市</option>
											<option value="安徽">安徽</option>
											<option value="北京">北京</option>
											<option value="福建">福建</option>
											<option value="甘肃">甘肃</option>
											<option value="广东">广东</option>
											<option value="广西">广西</option>
											<option value="贵州">贵州</option>
											<option value="海南">海南</option>
											<option value="河北">河北</option>
											<option value="河南">河南</option>
											<option value="黑龙江">黑龙江</option>
											<option value="湖北">湖北</option>
											<option value="湖南">湖南</option>
											<option value="吉林">吉林</option>
											<option value="江苏">江苏</option>
											<option value="江西">江西</option>
											<option value="辽宁">辽宁</option>
											<option value="内蒙古">内蒙古</option>
											<option value="宁夏">宁夏</option>
											<option value="青海">青海</option>
											<option value="山东">山东</option>
											<option value="山西">山西</option>
											<option value="陕西">陕西</option>
											<option value="上海">上海</option>
											<option value="四川">四川</option>
											<option value="天津">天津</option>
											<option value="西藏">西藏</option>
											<option value="新疆">新疆</option>
											<option value="云南">云南</option>
											<option value="浙江">浙江</option>
											<option value="重庆">重庆</option>
										</select>
									</div>
									<div class="down_box">
										<select id="clientRegion" name="clientRegion">

											<option value="地级市">地级市</option>
											<option value="常州">常州</option>
											<option value="淮安">淮安</option>
											<option value="连云港">连云港</option>
											<option value="南京">南京</option>
											<option value="南通">南通</option>
											<option value="苏州">苏州</option>
											<option value="宿迁">宿迁</option>
											<option value="泰州">泰州</option>
											<option value="无锡">无锡</option>
											<option value="徐州">徐州</option>
											<option value="盐城">盐城</option>
											<option value="扬州">扬州</option>
											<option value="镇江">镇江</option>
										</select>
									</div>
								</div>
								<input type="hidden" id="HProvince" value="江苏">
								<input type="hidden" id="HCapital" value="连云港">
							</div>

							<div class="col-xs-6">
								<label for="">客户状态：</label>
								<div class="dropdown_box1">
									<div class="down_box">

										<select id="clientStuatus" name="clientStuatus">
											<option value="" selected="selected">请选择</option>
											<option value="潜在客户">潜在客户</option>
											<option value="目标客户">目标客户</option>
											<option value="正式客户">正式客户</option>
											<option value="有效客户">有效客户</option>
											<option value="无效客户">无效客户</option>
											<option value="重点跟进">重点跟进</option>
										</select>
									</div>
								</div>
								<input type="hidden" id="HProvince" value="江苏">
								<input type="hidden" id="HCapital" value="连云港">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<label for="">法定代表人：</label>
								<input type="text" name="clientBehalf" id="clientBehalf" value="" class="form-control" placeholder="请输入法定代表人" pattern="[\u4e00-\u9fa5]{2,5}" oninvalid="setCustomValidity('可不填,但必须是中文，且长度不小于2，不大于5')"
										 oninput="setCustomValidity('')">
							</div>
							<div class="col-xs-6">
								<label for="">法人联系方式：</label>
								<input type="text" name="clientLegalphone" id="clientLegalphone" value="" class="form-control" pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
										 placeholder="请输入住宅电话" oninvalid="setCustomValidity('（可不填）请输入号码只能为数字,或按座机区号-号码来添加')" oninput="setCustomValidity('')" >
							</div>
						</div>

					

						<div class="row" style="display:none" id="FileULDIV">
							<div class="col-xs-12">
								<ul style="float: left" id="FileUL">
								</ul>
							</div>
						</div>

						<div class="row">
 
							<div class="col-xs-6">
								<label for="">
                                <em id="emIdCard">*</em>
身份证：                              
                        </label>
								<input type="text" name="clientIdcard" id="clientIdcard" value="" class="form-control required" maxlength="18" title="请填写身份证号码" placeholder="请输入客户" required="required"
									 pattern="^\d{15}|\d{18}$" oninvalid="setCustomValidity('请填写正确的身份证')"
									 oninput="setCustomValidity('')">
							</div>
							<div class="col-xs-6">
								<label for="">民族：</label>

								<div class="dropdown_box1">
									<div class="down_box">
										<select id="clientNation" name="clientNation">
											<option value="汉族">汉族</option>
											<option value="蒙古族">蒙古族</option>
											<option value="回族">回族</option>
											<option value="藏族">藏族</option>
											<option value="维吾尔族">维吾尔族</option>
											<option value="苗族">苗族</option>
											<option value="彝族">彝族</option>
											<option value="壮族">壮族</option>
											<option value="布依族">布依族</option>
											<option value="朝鲜族">朝鲜族</option>
											<option value="满族">满族</option>
											<option value="侗族">侗族</option>
											<option value="瑶族">瑶族</option>
											<option value="白族">白族</option>
											<option value="土家族">土家族</option>
											<option value="哈尼族">哈尼族</option>
											<option value="哈萨克族">哈萨克族</option>
											<option value="傣族">傣族</option>
											<option value="黎族">黎族</option>
											<option value="傈僳族">傈僳族</option>
											<option value="佤族">佤族</option>
											<option value="畲族">畲族</option>
											<option value="高山族">高山族</option>
											<option value="拉祜族">拉祜族</option>
											<option value="水族">水族</option>
											<option value="东乡族">东乡族</option>
											<option value="纳西族">纳西族</option>
											<option value="景颇族">景颇族</option>
											<option value="柯尔克孜族">柯尔克孜族</option>
											<option value="土族">土族</option>
											<option value="达斡尔族">达斡尔族</option>
											<option value="仫佬族">仫佬族</option>
											<option value="羌族">羌族</option>
											<option value="布朗族">布朗族</option>
											<option value="撒拉族">撒拉族</option>
											<option value="毛南族">毛南族</option>
											<option value="仡佬族">仡佬族</option>
											<option value="锡伯族">锡伯族</option>
											<option value="阿昌族">阿昌族</option>
											<option value="普米族">普米族</option>
											<option value="塔吉克族">塔吉克族</option>
											<option value="怒族">怒族</option>
											<option value="乌孜别克族">乌孜别克族</option>
											<option value="俄罗斯族">俄罗斯族</option>
											<option value="鄂温克族">鄂温克族</option>
											<option value="德昂族">德昂族</option>
											<option value="保安族">保安族</option>
											<option value="裕固族">裕固族</option>
											<option value="京族">京族</option>
											<option value="塔塔尔族">塔塔尔族</option>
											<option value="独龙族">独龙族</option>
											<option value="鄂伦春族">鄂伦春族</option>
											<option value="赫哲族">赫哲族</option>
											<option value="门巴族">门巴族</option>
											<option value="珞巴族">珞巴族</option>
											<option value="基诺族">基诺族</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-xs-6">
								<label for="">性别：</label>
								<div class="dropdown_box1">
									<div class="down_box">
										<select id="clientSex" name="clientSex">

											<option value="男">男</option>
											<option value="女">女</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-xs-6">
								<label for="">
                            出生日期：
                        </label>
								<input type="text" name="clientBirth" id="clientBirth" value="" class="form-control" readonly="true" lay-key="1" placeholder="请输入时间"
									 required="required">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">

								<label for="">
详细地址：
                        </label>
								<input type="text" name="clientSite" id="clientSite" value="" class="form-control" title="请填写详细地址"  pattern="[\u4e00-\u9fa5]{2,6}" oninvalid="setCustomValidity('可不填，但必须是中文)"
										 oninput="setCustomValidity('')">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<label for="">
                            备注：
                        </label>
								<textarea name="clientRemark" id="clientRemark" rows="3" cols="90" class="form-control" ></textarea>

							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xs-12">
							<input type="submit"  class="btn_solid" value="确认提交"></input>
							<!-- <button class="btn_hollow">开始检索</button> -->
						</div>
					</div>
				</div>

			</div>
		</form>

		<script type="text/javascript" src="static/js/table.js"></script>

		<script type="text/javascript">
			var s = ["Province", "clientRegion"];
			var opt0 = ["省/直辖市", "地级市"];
			setup();
			if(document.getElementById("HProvince").value != "") {
				document.getElementById(s[0]).value = document.getElementById("HProvince").value;
				change(1);
			}
			if(document.getElementById("HCapital").value != "") {
				document.getElementById(s[1]).value = document.getElementById("HCapital").value;
			}

			//服务端输出不能加载js
			function CheckCh(t) {
				if($("#" + t.id).prop("checked")) {
					$("#" + t.id).addClass('input_checked');
				} else {
					$("#" + t.id).removeClass('input_checked');
				}
			}

	
			pageInit();

			function del(v) {
				layer.msg('确认要删除文件吗？', {
					time: 0 //不自动关闭
						,
					btn: ['确定', '取消'],
					yes: function(index) {
						layer.close(index);
						$.ajax({
							type: "POST",
							url: "/Custom/FileStoreDel",
							data: {
								"ID": v
							},
							success: function(result) {
								result = JSON.parse(result);
								layer.msg(result.R, {
									time: 1500
								}, function() {
									//关闭后的操作
									if(result.R == "删除成功") {
										$("#li" + v).remove();
									}
								});
							}
						});
					}
				});
			}

			$(function() {
				if($("#bb").val() == "1") {
					$(".input3_other").slideToggle(200);
					$(".input_display").text("收起");
				}
			});
		</script>

	</head>

<script type="text/javascript">
	
			laydate.render({
				elem: '#clientBirth', //指定元素
				calendar: true,
				type: 'date'
			});
</script>

</html>