* {
    /*-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;*/
    list-style: none;
    font-family: å¾®è½¯é›…é»‘;
    margin:0;
    padding:0;
}

body {
    /*max-width: 1200px;*/
}
 
@media (min-width:100px) and (max-width:800px) {
    #custimg1 {
        display: none
    }
}

.login_body {
    position:absolute;
    width:100%;
    height:100%;
    background-image: url(/content/images/bg_8.jpg);
    background-position: center 0%;
    background-size:100%;
    background-size:cover;
}

.login_body > .loginbox {
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position:absolute;
    background-color :#fff;
    width:800px;
    height:420px;
    border-radius:4px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    padding: 40px;
}
.login_body .login_input > div{
    line-height:50px;
}

.login_text {
    float:left;
    padding-right:40px;
    text-align:center;
    border-right:1px solid #ddd;
}

.login_text > h1 > img{
    width:auto !important;
    height:70px;
    margin-bottom:40px;
    max-width:380px;
}
.login_text > .login_ewmbox{
    display:inline-block;
    margin-bottom: 24px;
}
.login_text > .login_ewmbox > li{
    width:120px;
    display:inline-block;
    color:#333;
    text-align:center;
    font-size:14px;
}
.login_text > .login_ewmbox > li:first-child{
    margin-right:30px;
}
.login_text > .login_ewmbox > li > img{
    width:100%;
    margin-bottom:10px;
}


.login_input {
    overflow:hidden;
    border-radius:4px;
    padding-left:40px;
}

.login_input > p {
    font-size: 16px;
    border-bottom: 1px solid #ededed;
    /*text-align: center;*/
    height:30px;
    line-height:1;
    margin:0;
}


.copyright {
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    text-align:center;
}
.copyright > a{
    color:#6e6e6e;
    background-color:#ededed;
    padding:4px 16px;
    display:inline-block;
    border-radius:20px 20px 0 0;
    transition:all 0.2s ease-out;
    font-size:12px;
}
.copyright > a:hover{
    color: #333;
}

.login_input input[type="submit"] {
    margin-top: 30px;
}

.login_input > .btn_hollow {
    margin-top: 30px;
    margin-right: 12px;
    font-size: 14px;
}

.login_input > .other {
    display:inline-block;
    margin-right: 12px;
    color: #767676;
    margin-top:20px;
}

.login_input > .other:hover {
    border-bottom: 1px solid #333;
    color: #333;
}

.login_input > .login_btn {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.login_input > .login_btn:hover {
    background-color: #484848;
    border-color: #484848;
}

.festival-tips {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    line-height:1;
    padding:10px;
}
.festival-tips .title {
    margin: 10px;
    font-size:16px;
}
.festival-tips .card {
    display:inline-block;
    line-height:30px;
    height:30px;
    border-radius:50px;
    background-color: #fff;
    margin:10px;
}
.festival-tips .card > img {
    width: 40px;
    height: 40px;
    object-fit:cover;
    margin-top:-6px;
    margin-bottom:-1px;
    margin-left:-16px;
    background-color:#fff;
    border-radius:50%;
    padding:3px;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.15);
}
.festival-tips .card > span {
    margin-right:14px;
}




#login-form2 {
    display: none;
}




/*é¡µé¢åŠ è½½åŠ¨ç”»*/
#loading{
    
}
.load1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 900;
    padding: 10%;
    opacity: 1;
    /*animation: load 1.5s infinite ease-in-out;*/
}

    .load1 .loader,
    .load1 .loader:before,
    .load1 .loader:after {
        background: #a9a9a9;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }

        .load1 .loader:before,
        .load1 .loader:after {
            position: absolute;
            top: 0;
            content: '';
        }

        .load1 .loader:before {
            left: -1.5em;
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

    .load1 .loader {
        text-indent: -9999em;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        left: 50%;
        margin-left: -10px;
        font-size: 11px;
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

        .load1 .loader:after {
            left: 1.5em;
        }
@keyframes load {
    0%, 80%, 100% {
        opacity:0.6;
    }

    40% {
        opacity:1
    }
}
@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #a9a9a9;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em #a9a9a9;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #a9a9a9;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em #a9a9a9;
        height: 5em;
    }
}

/*é¡µé¢åŠ è½½åŠ¨ç”» end*/






table.table-fixed-head .table-fixed-head-thead {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    background: #fff;
}

body {
    min-width:687px;
    background-color: #fff;
    padding-bottom: 100px;
}


.container .breadcrumb {
    /*width: 100%;*/
    width: 1200px;
    min-height: 40px;
    padding-top: 20px;
    line-height: 40px;
    overflow: auto;
    margin: 0 10%;
    margin-top: 20px;
}


.breadcrumb {
    width: 100%;
    min-height: 40px;
    padding-top: 0px;
    line-height: 40px;
    overflow: auto;
    margin-top: 0px;
    padding-left:20px;
}
.breadcrumb > li a{
    cursor:initial;
}

    .breadcrumb li:first-child {
        /*padding-left: 12px;*/
    }

    .breadcrumb .btn {
        display: block;
        float: left;
        padding: 0;
        width: 40px;
        height: 40px;
        margin-right: 0;
        text-align: center;
        border: none;
        margin-right: 6px;
    }

        .breadcrumb .btn img {
            width: 40px;
        }

        .breadcrumb .btn:hover {
            border: none;
        }


.tab {
    width: 100%;
    line-height: 34px;
    margin-bottom: 0px;
    margin-top: 10px;
    /*height: 44px;*/
    padding: 0 20px;
    border-bottom:1px solid #ededed;
}
.tab > li{
    display:inline-block;
}
    .tab a {
        height: 34px;
        /*margin: 0 2px;*/
        margin-top:4px;
        border: 1px solid #d9d9d9;
        border-bottom: 0px;
        border-radius: 4px 4px 0 0;
        display: inline-block;
        padding: 0 12px;
        font-size: 16px;
        color: #6e6e6e;
        background-color:#ededed;
        transition:all .1s ease-out;
        vertical-align:bottom;
    }

        .tab a:hover {
            background-color: #d9d9d9;
            color: #333;
        }
        .tab .tab_on {
            margin-top: 0px;
            height: 38px;
            line-height:38px;
            background-color: #fff !important;
            font-weight:bold;
            color: #333;
            margin-top:4px;
            position:relative;
            border-top:2px solid #333;
        }
         .tab .tab_on::after{
            content:"";
            position:absolute;
            bottom:-1px;
            left:0;
            width:100%;
            height:1px;
            background-color:#fff;

        }


    .tab2 {
        width: 100%;
        padding:0 10px;
        text-align:center;
    }
    .tab2 > li{
        display:inline-block;
    }
    .tab2 a {
        font-size: 14px;
        display: inline-block;
        line-height: 34px;
        padding: 0 10px;
        color: #6e6e6e;
        cursor: pointer;
        border-radius:4px;
        margin-bottom:14px;
    }

        .tab2 a:hover {
            color: #333;
            background-color: #ededed;
           
        }

    .tab2 .tab_on {
        color: #fff !important;
        background-color:#333 !important;
        position:relative;
    }
    .tab2 .tab_on::after{
        content:"";
        position:absolute;
        left:0;
        right:0;
        margin:auto;
        bottom:-4px;
        width:14px;
        height:4px;
        background-size:100% 100%;
        background-image:url(/lawfirms/static/img/input/icon_info_bottomarrow.png);
    }

.tab3 {
    background-color: #fff;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: 1px;
    margin: 0 auto;
}

   

    .tab3 a {
        float: left;
        font-size: 16px;
        display: inline-block;
        height: 50px;
        padding: 0 10px;
        color: #a9a9a9;
        margin-right: 6px;
    }

    .tab3 a:hover {
        text-decoration: none;
        color: #333;
        border-bottom: 2px solid #333;
    }

    .tab3 .tab_on {
        color: #333;
        font-weight: bold;
        border-bottom: 2px solid #333;
    }
   

.white {
    background-color: #fff;
}

.page_find {
    background-color: #fff;
    min-height: 50px;
    margin-bottom: 1px;
    padding:0 20px;
}

    .page_find .down_box {
        display: inline-block;
        vertical-align: middle;
    }

    .page_find .input-group {
        vertical-align: middle;
        display: inline-block;
    }

    .page_find .btn_solid {
        border-radius:4px;
        margin-top:10px;
        margin-bottom:10px;
    }





.btn_solid {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #3B9BDB;
    color: #fff;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius:4px;
    transition:all 0.2s ease-out;
}
    .btn_solid:hover {
        background-color: #45ADF2;
    }

.btn_solid.small {
    padding: 3px 10px;
}

.btn_hollow {
    display: inline-block;
    padding: 0 12px;
    height:34px;
    line-height:32px;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius:4px;
    margin:10px 0;
    transition:all 0.2s ease-out;
}

    .btn_hollow:hover {
        background-color: #ededed;
    }


.btn_hollow_small {
    display: inline-block;
    padding: 0 10px;
    height:28px;
    line-height:26px;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius:4px;
    margin:10px 0;
    transition:all 0.2s ease-out;
}

    .btn_hollow_small:hover {
        background-color: #ededed;
    }



.table > tbody > tr .btn_hollow {
    line-height: 1;
    font-size:12px;
    padding: 8px;
    margin: -4px 0;
    margin-top: -6px;
    height:auto;
} 
.table > tbody > tr .btn_hollow:hover {
    background-color: #bbb;
    border: 1px solid #bbb;
}
.table > tbody > tr > td > a:hover {
    border-bottom: 1px solid #333;
}
tbody > .focus_tr_click,
tbody > .focus_btn_click{
    background-color: #e1e1e1 !important;
}
.table > tbody > .focus_btn_click .btn_hollow{
    background-color: #bbb;
    border: 1px solid #bbb;
}




.btn-toolbar {
    /*margin: 10px 0px 0px 10px;*/
}

    .btn-toolbar .page_on {
        background-color: #333 !important;
        color: #fff;
        opacity: 1;
        filter: opacity(1); /*å…¼å®¹ie8é€æ˜Ž*/
    }

.footer2 .btn-default {
    border: 1px solid transparent;
}

.btn-toolbar .toolbar_text {
    display: inline-block;
    padding: 5px 18px;
    margin:14px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    color: #333;
    /*border-left:1px solid #c7c7c7;*/
    background-color:#ededed;
    border-radius:4px;
}

    .btn-toolbar .toolbar_text > em {
        font-size: 16px;
        color: #202020;
    }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
    border-top: 1px solid #ddd;
    min-width:880px;
    padding:0 20px;
    /*padding-bottom: 10px;*/
}

.footer2 {
    background-color: #fff;
    padding: 10px;
    /*box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);*/
    /*padding-bottom: 20px;*/
    /*margin-top: 2px;*/
}

footer .btn_hollow {
    margin: 10px 0px 0px 10px;
}

footer .btn_solid{
    margin:14px 4px;
}

footer > .cue {
    vertical-align: -5px;
    background-color: transparent;
    margin: 0 10px;
    width: auto;
}

input[type="checkbox"],
input[type="radio"] {
    appearance:none;
    -webkit-appearance:none;
    margin: 0 8px;
    width:20px;
    height:20px;
    cursor: pointer;
    vertical-align:middle;
    background-repeat:no-repeat;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: none;
}
.all_box input[type="checkbox"], .all_box input[type="radio"] {
    margin-left: 16px;
}

    .all_box input[type="checkbox"]:first-child, .all_box input[type="radio"]:first-child {
        margin-left: 4px;
    }

.row input[type="checkbox"], .row input[type="radio"] {
    margin-left: 16px;
}

    .row input[type="checkbox"]:first-child, .row input[type="radio"]:first-child {
        margin-left: 4px;
    }


/*å•é€‰æ¡†æ ·å¼*/
input[type="radio"] {
    background-image:url(/lawfirms/static/img/input/ico_radio.png);
}
input[type="radio"]:checked {
    background-image:url(/lawfirms/static/img/input/ico_radio_on.png);
}
input[type="radio"]:disabled {
    background-image:url(/lawfirms/static/img/input/ico_radio_no.png);
}
/*å¤šé€‰æ¡†æ ·å¼*/
input[type="checkbox"] {
    background-image:url(/lawfirms/static/img/input/ico_checkbox.png);
}
input[type="checkbox"]:checked {
    background-image:url(/lawfirms/static/img/input/ico_checkbox_on.png);
}
input[type="checkbox"]:disabled {
    background-image:url(/lawfirms/static/img/input/ico_checkbox_no.png);
}




/*ç½®é¡¶*/
.to_top {
    position: fixed;
    right: 20px;
    bottom: 0px;
    width: 40px;
}

    .to_top li {
        width: 40px;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        box-shadow: 0 0 8px 5px rgba(0,0,0,0.02);
        margin-bottom: 10px;
    }

        .to_top li:hover {
            background-color: #333;
            color: #fff;
        }

            .to_top li:hover svg g {
                fill: #fff;
            }

        .to_top li svg {
            margin-left: -4px;
            margin-top: 2px;
        }

        .to_top li:nth.child(2) {
            height: 40px;
        }

        .to_top li:first-child + li {
            height: 40px;
        }



.flow_line {
    max-width:1200px;
    border-radius:4px;
    margin: 20px;
    height: 40px;
    min-width: 800px;
    background-color: #fff;
    border: 1px solid #ededed;
    overflow: hidden;
    padding:0;
    box-shadow: 0 0 8px rgba(0,0,0,0.03);
}

    .flow_line li {
        display: block;
        float: left;
        height: 38px;
        line-height: 38px;
        padding-left: 25px;
        padding-right: 20px;
        background-color: #fff;
    }

        .flow_line li::after {
            content: '';
            float: right;
            width: 28px;
            height: 28px;
            margin-right: -33px;
            margin-top: 5px;
            border-top: 1px solid #5fc1917d;
            border-right: 1px solid #5fc1917d;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            background-color: #fff;
        }



    .flow_line span {
        display: none;
    }


/*æç¤ºä¿¡æ¯*/
.cue {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #A9A9A9;
    padding: 3px 0 0 0;
    margin:0;
    border-radius:10px;
}

    .cue li:first-child {
        width: 2px;
        height: 6px;
        background-color: #fff;
        margin: 0 auto;
    }

        .cue li:first-child + li {
            width: 2px;
            height: 2px;
            background-color: #fff;
            margin: 0 auto;
            margin-top: 2px;
        }


input[type="text"] {
    color: #333;
}

textarea {
    color: #333 !important;
}

.shell {
    padding: 10px;
    overflow: hidden;
    /*background-color: blue;*/
}


.all_box {
    margin: -1px 0 0 -1px;
    /*height: 60px;*/
    padding: 16px 12px;
    border: 1px solid #ededed;
    background-color: #fff;
}

.text_box {
    color: #767676;
    /*padding: 12px;*/
}

    .text_box > p {
        margin: 0;
        color: #333;
        min-height:20px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

       .text_box > p.no-ellipsis {
        overflow:initial;
        text-overflow:clip;
        white-space:normal;
    }

    .text_box > ul {
        margin-top: 0 !important;
    }

    .text_box a {
        color: #5fc191;
    }
    .text_box .sbtn {
        display:inline-block;
        padding:4px 10px;
        background-color:#5fc191;
        color: #fff;
        border-radius:4px;
        transition:all 0.2s ease-out;
        float:right;
        margin-top:-4px;
    }
    .text_box .sbtn:hover {
        background-color: #6dd5a2;
    }
.my_grid > .all_box {
    height: 74px;
}


.shell > .text_box {
    float: left;
    width: 100%;
    /*margin-top: 4px;*/
}

.shell > input[type='submit'], .shell > button {
    margin: 5px;
}

/*å•è¡Œinput*/
/*.single_input{
	line-height: 50px !important;
}*/


.my_grid .all_box ul {
    display: block;
    float: right;
    /*margin-top: 13px;*/
}




.my_grid {
    float: left;
    margin: 0px auto;
    width: 33.333%;
    height: auto;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .my_grid {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .my_grid {
        width: 100%;
    }
}

@media (min-width: 1920px) {
    .my_grid {
        width: 33.3333%;
    }
}


.choose_shell {
    /*width:50%;*/
    display: inline-block;
    /*margin-top:10px;*/
}

.todown > .all_box > p,
.todown > .all_box > div,
.todown > .all_box > ul,
.todown > .all_box > input,
.todown > .all_box > textarea {
    display: inline-block;
}

.todown > .all_box > p {
    line-height: 34px;
    margin: 0;
}

.todown > .all_box > .cue {
    margin: 0 0 0 12px;
    vertical-align: -2px;
}

.todown > .all_box > .choose_shell {
    margin: 0;
}

.todown > .many_text > p,
.todown > .many_text > .cue {
    vertical-align: top;
}

.todown > .all_box {
    height: auto;
    margin: -1px;
    padding: 16px 10px;
}

    .todown > .all_box > input {
        max-width: 300px;
    }

    .todown > .all_box > textarea {
        max-width: 500px;
    }

    .todown > .all_box > p {
        width: 160px;
        text-align: right;
    }


.shell > .title {
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #ededed;
    border-bottom: 2px solid #ededed;
    padding: 12px;
    margin-left: -1px;
    margin-top: 10px !important;
}

.text_group{
    overflow:hidden;
}
.text_group > .title {
    float: left;
    width: 100%;
    border-right: 1px solid #fff;
}

.shell > .title:first-child {
    margin-top: 0px !important;
}

.todown > .title {
    margin: -1px;
}
/*.grid_input > .title{
	width: 100%;
	float: left;
}*/

.todown_btn_group {
    padding-left: 172px !important;
}

    .todown_btn_group > * {
        box-sizing: border-box;
        font-size: 14px;
        margin-right: 10px;
    }




.many_input {
    float: left;
    width: 100%;
    margin: 20px 0;
    /*background-color: blue;*/
}

    .many_input > * {
        box-sizing: border-box;
        border-width: 2px;
        font-size: 14px;
        padding: 7px 20px;
        margin-right: 10px;
    }


.news_box > li {
    margin: 10px;
    color: #fff;
    background-color: #fff;
    border: 1px solid transparent;
}

.news_box > .read {
    background-color: #d9d9d9;
}

.news_box > li > a {
    display: block;
    color: #333;
    padding: 12px;
    /*font-weight: 300;*/
}

    .news_box > li > a > span {
        width: 90px;
        margin-right: 10px;
        border-right: 1px solid #a9a9a9;
        display: inline-block;
    }

.news_box > li:hover {
    border: 1px solid #a9a9a9;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.shop_box {
    height: auto;
    margin: 5px;
    padding: 12px;
}

    .shop_box > p {
        color: #767676;
    }

    .shop_box > h2 {
        font-weight: 300;
        margin: 10px 0;
    }

    .shop_box > h4 {
        color: #FF6464;
        font-weight: 300;
    }


thead > tr > th{
    white-space: nowrap;
    overflow: hidden;
    max-width:80px;
    max-width:4vw;
}



tbody > tr > .casenum {
    max-width:initial;
}





@media (min-width:1200px){
    thead > tr > th{
        max-width:120px;
        max-width:10vw;
    }
}

.ly_rm_td_style tbody > tr > td{
    display:inline;
    max-width:initial;
    max-width: initial;
    white-space: normal;
    text-overflow: initial;
    -o-text-overflow: initial;
    overflow: initial;
}



.td_title {
    margin-top: 2px;
    margin-left: 2px;
    position: fixed;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius:4px;
}

.small_menu {
    display: none;
    position: fixed;
    z-index: 300;
    top: 100px;
    left: 100px;
    min-width: 180px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 6px 0;
    border-radius: 4px
}
.small_menu > li{
    border:none;
} 
    .small_menu > li {
        padding: 2px 0;
        cursor: pointer;
        color: #333;
    }

    .small_menu a {
        display: block;
        padding: 4px 24px;
        color: #333;
    }

        .small_menu a:hover {
            background-color: #ededed;
        }

    .small_menu > li:hover {
        background-color: #ededed;
    }

    .small_menu > li:last-child {
        border-bottom: 0;
    }
.small_menu > hr{
    margin: 4px 0;
    border-color: #d9d9d9;
}

.table > thead > tr > th:first-child {
    padding-left: 20px !important;
}

.table > tbody > tr > td:first-child {
    padding-left: 20px !important;
}


.table > tbody > tr:last-child > td{
    border-bottom: 1px solid #ededed;
}

.fixed_top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ededed;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    z-index: 100;
}

.dynamic_row > p {
    width: auto !important;
    padding-left: 20px;
}

.dynamic_row > input {
    max-width: 200px !important;
}

.dynamic_row > .btn_hollow {
    margin-left: 20px;
    width: 34px;
    height: 34px;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    padding: 0;
} 

.dynamic_row > .down_box {
    vertical-align: -1px;
}



.text_right {
    text-align: right;
}

.text_left {
}

.display_block {
    display: block;
}

.grid_input_shell > .title {
    padding: 10px;
    border-right: 1px solid #ededed;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #ededed;
}
/*.grid_input_shell span{
	font-size: 14px;
	font-weight:bold;
	width:120px;
	display:block;
	float:left;
	margin-right:15px;
	text-align:right;
}*/
.grid_input_shell .my_grid::after {
    content: "";
    clear: both;
}

.grid_input_shell {
    background-color: #fff;
    max-width: 1200px;
    /*margin:0 auto;*/
}

    .grid_input_shell::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        display: block;
        height: 100%;
        /*background-color: #ededed;*/
    }

    .grid_input_shell > .my_grid {
        /*padding: 10px;*/
        /*height: 40px;*/
        line-height: 2;
        /*border-right: 1px solid #ededed;*/
        /*border-bottom: 1px solid #ededed;*/
        /*border-top: 1px solid #ededed;*/
        margin-top: 20px;
    }

        .grid_input_shell > .my_grid > .cue {
            float: right;
        }

    .grid_input_shell > .one_row {
        margin-left: 0px;
        height: auto;
    }

    .grid_input_shell > .many_input {
        margin: 20px;
    }

    .grid_input_shell input[type="text"] {
        vertical-align:middle;
        width: 100%;
    }
    .grid_input_shell input[type="password"] {
        vertical-align:middle;
        width: 100%;
    }

    .grid_input_shell input[type="file"] {
        width: 100%;
        border-color: #cdcdcd;
    }

    .grid_input_shell textarea {
        width:100%;
        border-color: #cdcdcd;
        resize: vertical;
    }





label em {
    color: red;
    margin-right:6px;
    font-style: normal;
    font-weight:bold;
}

.row {
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background: #fff;
}



.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
    margin-bottom: 10px;
}



.input_display {
    border: 1px solid #A9A9A9;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    color: #A9A9A9;
    cursor: pointer;
    float: left;
    line-height:1;
}

.row_title {
    padding-top: 0px;
    padding-bottom: 5px;
}

.row_title .text_border{
    display:inline-block;
    border-left: 3px solid #333;
    font-size: 16px;
    font-weight: bold;
    line-height:1;
    padding:0 10px;
    margin:0;
}
.row_title .col-xs-12{
    border-bottom: 1px solid #ededed;
    margin: 0 15px;
    padding: 10px 0;
    width:auto;
    float: none;
}

.row_title .input_display {
    display: inline-block;
    float: none;
    margin-left:10px;
}


.main_box .row_title .text_border{
    margin-top:5px;
    padding:0 7px;
}


.input_display:hover {
    color: #333;
    border-color: #333;
}



.select_box {
    display: inline-block;
    position: relative;
    height: 38px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    /*background-color: blue;*/
}

    .select_box > select {
        line-height: 38px;
    }




.input3 .kind2 {
    width: 810px;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background-color: #FFFBF7;
    float: left;
    margin: 10px 10px 0 0;
}

    .input3 .kind2 > .right_box {
        padding-left: 149px;
        /*background-color: blue;*/
    }

    .input3 .kind2 textarea {
        width: 658px;
        border: 0;
        border-radius: 0 4px 4px 0;
        margin: 0;
        background-color: transparent;
        height: 100px;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        margin-bottom: -5px;
        padding: 10px;
    }

.input3 textarea:hover {
    background-color: #ededed;
}

.input3 .right_box > li {
    float: left;
}

.input3 input[type='radio'],
.input3 input[type='checkbox'] {
    margin: 13px 8px;
    margin-left: 16px;
}

.input3_other {
    display: none;
}

.input3 input[type='submit'] {
    margin-left: 149px;
    border-radius: 4px;
}

.input3 .btn_box {
    width: 850px;
    margin: 0 auto;
    /*height: 20px;*/
    /*background-color: blue;*/
}

    .input3 .btn_box > input[type='submit'] {
        margin-top: 10px;
        margin-left: 169px;
    }

/*å®¡æ‰¹é¡µé¢*/
.approval_record, .basic_info, .my_approval {
    max-width: 1200px;
    min-width: 400px;
}

    .my_approval input[type="submit"] {
        margin-left: 0px;
    }

    .approval_record .col-xs-10 p:nth-child(1) {
        font-weight: bold;
    }

    .approval_record .col-xs-10 p:nth-child(4) {
        font-size: 0.8em;
        color: #a9a9a9;
    }

    .basic_info .table-bordered td:nth-of-type(odd) {
        text-align: right;
    }

    .basic_info tr:hover {
        background: #ededed;
    }



    

input[type="text"] {
    color: #333;
}

textarea {
    color: #333;
}

#optionContainer{
    padding:0;
}
#optionContainer > li {
    margin-top: 10px;
}
#optionContainer .down_box select,
#optionContainer .down_box{
    width:initial;
    vertical-align:middle;
}
#optionContainer .add{
    display:inline-block;
    vertical-align:middle;
    background-color:#5FC191;
    color:#fff;
    width:80px;
    text-align:center;
    cursor:pointer;
    line-height:34px;
    border-radius:4px;
    transition:all 0.2s ease-out;
}
#optionContainer .add:hover{
    background-color:#65ca98;
}

#optionContainer .delete{
    display:inline-block;
    vertical-align:middle;
    background-color:#FF6464;
    color:#fff;
    width:80px;
    text-align:center;
    cursor:pointer;
    line-height:34px;
    border-radius:4px;
    transition:all 0.2s ease-out;
}
#optionContainer .delete:hover{
    background-color:#ff7272;
}

.error {
    color: red;
    line-height: 34px;
}




label {
    float: none;
    /*margin-bottom:10px;*/
    color: #333;
    font-size: 13px;
    font-weight: normal;
    line-height: 34px;
    /*-ms-line-height: 35px;*/
}

#_CityList_ {
    display: none;
    z-index: 9999;
    position: absolute;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color:#fff;
    padding:6px 0;
    border-radius:4px;
}

    #_CityList_ > span {
        border-radius:0 4px 0 10px;
        color:#fff;
        padding:6px;
        margin-top:-6px;
        background-color:#333;
        width:24px;
        height:24px;
        background-image:url(/Content/icon/icon_close_white.png);
        background-repeat:no-repeat;
        background-position:center center;
        background-size:16px 16px;
    }
    #_CityList_ ul{
        margin:0;
    }
        #_CityList_ ul li {
            height: 25px;
            line-height: 25px;
            cursor: pointer;
        }

            #_CityList_ ul li:hover {
                background-color: #e9e9e9;
            }
            #Div_Txt{
                text-indent:1em;
                color:#a9a9a9;
            }

/*é¦–é¡µ*/

.main_box {
    /*background-color:#ededed;*/
}

    .main_box .row {
        margin: 0px;
        padding: 0px;
        margin: 10px 10px 0px 10px;
        border: none;
    }

.left_part {
    width: 70%;
    float: left;
    padding:20px;
    border-right:1px solid #ddd;
    height:840px;
}

.right_part {
    width: 30%;
    float: left;
    height:840px;
}

.top_part {
    height: 230px;
}

.case_statistics {
    width: 35%;
    height: 260px;
    float: left;
    padding:20px;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.three-choice {
    padding:0;
}



/*homeæ ·å¼*/
.three-choice .col-xs-4 p:first-child {
    font-size:28px;
    line-height:1;
    margin:0;
}



.unpaidCase_list {
    height: 260px;
    padding:20px;
    width: 65%;
    float: left;
    border-bottom:1px solid #ddd;
}
.unpaidCase_list .table > thead > tr > th{
    border-right:0;
    border-bottom:1px solid #ededed;
}
.unpaidCase_list .table > tbody > tr > td{
    border:0;
    
}


.three-choice li{
    text-align: center;
    padding:20px 0 10px 0;
    margin-top:30px;
    border-radius:4px;
}
.three-choice li:hover{
    background-color:#ededed;
}



.notice_bulletin {
    padding:20px;
    border-bottom:1px solid #ddd;
}


    .notice_bulletin .content {
        
    }

.notice_bulletin .text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
}



.notice_bulletin > .content > .text{
    padding:0;
    margin:0;
    margin-top:10px;
}
.notice_bulletin > .content > .text > li{
    border-radius:4px;
    padding:5px 10px;
}
.notice_bulletin > .content > .text > li:hover{
    background-color:#ededed;
}

.approval_center {
    padding:20px;
}

    .approval_center .table {
        width: 100%;
    }

    .approval_center tr:hover {
        background: #ededed;
    }

    .approval_center table a:hover {
        color: #5FC191;
        border-bottom: none !important;
    }


.check_more {
    color: #fff;
    background-color:#fff;
    padding:6px 8px;
    border-radius: 4px;
    cursor: pointer;
    line-height:1;
    border:1px solid #ddd;
    float:right;
    transition:all 0.2s ease-out;
}
.check_more:hover{
    background-color:#ededed;
}



/*é¦–é¡µæ—¥åŽ†æ ·å¼ï¼š*/
.fc-toolbar .fc-left h2::before{
    content:'\5f53\524d:\0020';
    color:#a9a9a9;
}

.main_box > .bottom-part {
    float: left;
    width:100%;
    border-top: 1px solid #ddd;
}
.main_box > .bottom-part > .left {
    float:left;
    width: 55%;
    padding:20px;
}
.main_box > .bottom-part > .left .table > tbody > tr > td {
    border: 0;
}
.main_box > .bottom-part > .left .table > thead > tr > th {
    border-right: 0;
    border-bottom: 1px solid #ededed;
}
.main_box > .bottom-part > .right {
    width: 45%;
    float:left;
    padding:20px;
    border-left: 1px solid #ddd;
}
.xitem_list{
  padding-top: 20px;
}
.xitem_list > li{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.xitem > .title{
  font-size: 14px;
  font-weight: bold;
  color: #3a3a3a;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  margin-bottom: 10px;
}
.xitem > .title > a {
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align:middle;
    max-width: 55%;
}
.xitem > .title > em{
  font-style: normal;
  color: #6E6E6E;
  background-color: #f5f5f5;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  padding: 0 4px;
  border-left:2px solid #a9a9a9;
  border-right:2px solid #a9a9a9;
  border-radius:4px;
  vertical-align:middle;
  margin-right:4px;
}
.xitem > .title > i{
  font-weight: bold;
  background-color: #FBCE95;
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
  border-radius: 4px;
  display: inline-block;
  padding: 0 6px;
  height: 18px;
  line-height: 18px;
  font-style: normal;
  vertical-align: middle;
}
.xitem > p{
  color: #A9A9A9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: justify;
  overflow: hidden;
  line-height: 1.4;
  margin-top:0;
  margin-bottom: 10px;
}
.xitem > ul > *{
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.xitem > ul > .place{
  color: #6e6e6e;

}
.xitem > ul > .lawyer > img{
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid #EDEDED;
  vertical-align: middle;
}
.xitem > ul > .lawyer > a{
  color: #6E6E6E;
  vertical-align: middle;
}
.xitem > ul > .time{
  color: #A9A9A9;
}























.item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item:hover {
    opacity: .8;
    filter: Alpha(opacity=80);
}

.item p > span:first-child {
    color: #333;
    font-weight: bold;
    text-align: right;
}

    .item p > span:first-child + span {
        margin-left: 10px;
    }




/*æ–‡ä»¶ä¸Šä¼ é¡µé¢*/
.tips {
    background: #fff;
    height: 300px;
    overflow: hidden;
}

    .tips .row_title {
        margin-bottom: 20px;
    }

    .tips .content {
        width: 70%;
        float: left;
        padding: 30px;
    }

    .tips .modal_file {
        float: right;
        width: 20%;
        margin-top: 80px;
    }

.tips_content {
    width: 70%;
    float: left;
    padding: 30px;
}

    .tips_content p {
        margin-left: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.modal_file img {
    margin-bottom: 10px;
    margin-left: 5px;
    display: block;
}

.upload {
    background: #fff;
    padding: 30px;
    padding-top: 10px;
}

    .upload input[type="file"] {
        width: 45%;
    }

    .upload .col-xs-12 {
        margin-top: 10px;
    }




.case_items {
    padding:10px;
    max-width:1200px;
}

    .case_items ul {
        border-top: 2px solid #a9a9a9;
        padding:20px 0 0 0; 
        position:relative;
    }
    .case_items ul::after{
        content:"";
        position:absolute;
        top:-15px;
        left:200px;
        width:28px;
        height:15px;
        background-image:url(/lawfirms/static/img/input/icon_toparrow.png);
    }
    

    .case_items li {
        display:inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .case_items a {
        display: block;
        border:1px solid #cecece;
        text-align: center;
        padding:6px 14px;
        border-radius:4px;
        transition:all 0.2s ease-out;
    }
    .case_items a:hover{
        background-color:#ededed;
    }
.confirm {
    margin-top: 12px;
    background: #fff;
    height: 80px;
    margin-bottom: 100px;
    text-align: c;
}

    .confirm input[type="submit"] {
        margin-left: 350px;
        margin-top: 20px;
    }


/*æ¡ˆä»¶å½’æ¡£é¡µé¢*/
.case_file {
    width: 100%;
}

    .case_file .row {
        margin: 12px 0px;
        width: 100%;
    }

.case_arrangement {
    width: 100%;
    height: 220px;
    background: #fff;
    padding: 20px 0px 0px 30px;
}

    .case_arrangement input[type="text"] {
        display: inline;
        width: 500px;
    }

    .case_arrangement em {
        color: #f00;
    }

    .case_arrangement span {
        display: inline-block;
        margin-right: 20px;
        text-align: right;
    }

    .case_arrangement select {
        width: 500px;
        padding-right: -20px;
    }

.case_assign, .case_num {
    margin-top: 20px;
}

.case_confirm {
    margin-top: 20px;
    margin-left: 90px;
}

    .case_confirm input[type="submit"] {
        width: 120px;
    }

.case_folder {
    height: 450px;
    /*height:auto;*/
    margin-top: 12px;
    background: #fff;
    padding: 30px 0px 0px 0px;
}

    .case_folder .row_title {
        margin-left: 30px;
    }

    .case_folder ul {
        width: 80%;
        height: 300px;
        overflow: auto;
        margin: 30px auto;
        padding: 60px 0px 100px 60px;
        border: 1px solid #5FC191;
        background: #ededed;
    }

        .case_folder ul::after {
            content: "";
            clear: both;
        }

    .case_folder li {
        float: left;
        width: 120px;
        height: 120px;
        margin-right: 60px;
        margin-bottom: 40px;
        /*border:1px solid #ccc;*/
        text-align: center;
    }

    .case_folder img:hover {
        transform: rotate(5deg);
    }

    .case_folder img {
        width: 80px;
        margin: 0 auto;
        display: block;
        line-height: 120px;
    }

    .case_folder span {
        display: inline-block;
        margin-top: 10px;
    }

.case_list {
    /*width:100%;*/
    /*height:420px;*/
    margin-top: 12px;
    margin-bottom: 60px;
    background: #fff;
    padding: 50px;
}

    .case_list table {
        width: 85%;
        overflow: auto;
        /*margin-top:30px;*/
        /*margin-left:70px;*/
        margin: 0px auto;
        border: 1px solid #5FC191;
    }

    .case_list td, th {
        padding: 10px 0px;
    }

    .case_list tr:hover {
        background: #ededed;
    }

    .case_list button {
        border: 2px solid #767676;
        background: none;
        width: 120px;
        height: 30px;
    }

        .case_list button:hover {
            background: #767676;
            color: #fff;
        }


/*æ¡ˆä»¶è¯¦æƒ…é¡µé¢*/
.case_detail {
    max-width: 1200px;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    padding:10px;
}

.caseDetail_nav {
    margin-top: 12px;
    max-width: 1200px;
    padding-bottom: 0px;
}

.case_detail .row_title{
    padding:20px 10px 10px 10px;
    position:relative;
}

.case-detail-fn {
    position: absolute;
    top: 12px;
    right: 10px;
}


.nav_detail {
    margin-top: 12px;
}

.seal_record_part {
    margin-bottom: 60px;
}


.approval_center > .allTtem{
    margin-top:10px;
}
.item2 {
    padding: 5px;
    color: #767676;
    border-bottom: 1px dashed #ededed;
    cursor: pointer;
    border-radius:4px;
}

    .item2 p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px;
    }

    .item2:hover {
            background-color: #ededed;
    }

    .item2 p > span:nth-child(1) {
        color: #333;
        font-weight: bold;
        text-align: right;
    }

    .item2 p > span:nth-child(2) {
        margin-left: 10px;
    }

#retreatdiv {
    padding: 4px 8px;
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: #393D49;
    background-color:rgba(0,0,0,0.8);
    color: white;
    border-radius:4px;
}




select {
    display:inline-block;
    padding-left:6px;
    padding-right:24px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #bbb;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin:10px 0;
    transition:all 0.2s ease-out;
    background-image:url(/lawfirms/static/img/input/icon_select.png);
    background-repeat:no-repeat;
    background-position:99% center;
    background-size:24px 24px;
}

    select:hover {
        /*background-color: #e6e6e6;*/
        border:1px solid #898989;
        box-shadow:0 2px 10px rgba(0,0,0,0.1);
    }
    select:focus {
        border:1px solid #333;
    }
    
    select > option{
        color:#333;
    }
    select > option[disabled]{
        color:#a9a9a9;
    }





.dropdown_box1 {
    display: inline-block;
}

.down_box {
    display: inline-block;
}



.container{
    width:100%;
}
.container .dropdown_box1,
.grid_input_shell .down_box,
.grid_input_shell .down_box select{
    width: 100%;
    display: inline-block;
}
.grid_input_shell .down_box select{
    margin:0;
}


.container .dropdown_box1 > .down_box{
    margin-top:20px;
}
.container .dropdown_box1 > .down_box:first-child{
    margin-top:0px;
}


.grid_input_shell .col-xs-6 .btn_solid{
    float: right;
    margin-top: -34px;
}

/*select {
  padding: 0 20px 0 12px;
    padding: 0 40px 0 32px;
    width: 100%;
    height: 34px;
    border-radius: 0px;
   border: 0;
    border: 1px solid #ccc;
    background-color: transparent;
    outline: none;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
     margin:-1px -1px 0px -1px;
    background: none;
}

    select:hover {
        background-color: #e6e6e6;
    }

.container .dropdown_box1 {
    width: 100%;
    display: inline-block;
   
}

.dropdown_box1 {
    width: 50%;
    display: inline-block;

}

 down_box {
    display: inline-block;
    position: relative;
    height: 34px;
    background-color: #fff;
   
}*/


.info_show {
    max-width: 1200px;
    margin-top: 30px;
}

.detail p {
    margin-top: 10px;
    width: 33.33%;
    float: left;
    margin-bottom: 10px;
}

.detail {
    margin: 40px 0px 10px 30px;
}

.info_show p > span:nth-child(odd) {
    font-weight: bold;
}

.no_border {
    border-bottom: none;
}




.my_account{
    margin-top:30px;
    max-width:1200px;
}
.my_balance {
    padding:30px 30px 30px;
    margin-top:-10px;
}
.my_balance span{
    font-size:1.2em;
}
.my_balance span:first-child+span{
    padding-left:10px;
    font-size:3em;
    font-weight:bold;
    color:#3B9BDB;
}
.remain{
    float:left;
    /*height:40px;*/
}
.recharge{
    float:left;
    width:180px;
    height:40px;
    background:#3B9BDB;
    margin-top:10px;
    margin-left:40px;
    line-height:40px;
}
.recharge:hover{
    background:#45ADF2;
}
.recharge a{
    color:#fff!important;
    display:block;
    text-align:center;
}
.consumptionDetail{
    margin-top:30px;
}
.consumptionDetail p{
    font-size:1.2em;
    margin-bottom:10px;
}


/*æ¡ˆä»¶ç±»åž‹é€‰æ‹©é¡µé¢*/
.case_type {
    width: 100%;
    padding: 10px;
}


    .case_type a {
        display: block;
        color: #333;
    }

    .case_type ul {
        overflow:hidden;
        padding:0;
        max-width:1200px;
        padding-top: 20px;
    }

    .case_type li {
        box-sizing:border-box;
        width: 140px;
        height: 40px;
        border-radius: 4px;
        background: #ededed;
        text-align: center;
        line-height: 36px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        color: #fff!important;
        border:2px solid transparent;
        transition:all 0.2s ease-out;
    }


        .case_type li:hover {
            border:2px solid #333;
        }

.case_type .case_typeActive {
    background-color:#fff;
    border:2px solid #333;
}


.input_submit{
    display:block;
    margin:0 auto;
    padding:8px 30px;
}

.select_time,#BegTime,#EndTime,#BirthDay,#Begtime,#TCxrq,#STime,#PayTime1,#LiAnDate,#KaiTingDate,#XuanPanDate,
#ShangSuDate,#XjDate,#DbDate,#ZcBegDate,#ZcEndDate,#ZcBegDate1,#ZcEndDate1,#ZcBegDate2,#ZcEndDate2,#ScBegDate,#ScEndDate,
#fDate,#BillTime,#ETime,#stime,#etime,#Ptime{
    background-repeat:no-repeat;
    background-position:99% center;
    background-size:24px 24px;
    background-image:url(/lawfirms/static/img/input/icon_input_time.png);
}
.display_new_view,#CaseId,#CaseIdTxt{
    background-repeat:no-repeat;
    background-position:99% center;
    background-size:24px 24px;
    background-image:url(/lawfirms/static/img/input/icon_input_newview.png);
}

.pagination > li {
    display: inline-block;
}

.downloadbox {
    text-align: center;
    margin:30px 0;
}



textarea.form-control {
    padding: 10px 12px;
}