<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.jt.lawfirm.mapper.administration.IComplainMapper">
	<select id="selComplainAll"
		resultType="java.util.Map"
		parameterType="java.util.Map">
		select c.*,client,tel,case_propernum from  adm_complain c
			inner join case_law law on c.law_case_id = law.id 
			inner join client on c.client_id = client.id   
		where 1 = 1
		<if test="title != null and title != ''">
			and client.client like #{title}
		</if>
		<!-- 查询某个时间点签到 -->
		<if
			test="stime != null and stime != '' and etime != null and etime != ''">
			and c.complain_submit_time between #{stime} and #{etime}
		</if>
	</select>
</mapper>