<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jt.lawfirm.mapper.anjian.DetailsMapper">
	<!-- 
		审查 
	 -->
		<select id="findDetailsLaw" parameterType="map" resultType="map">
			select * from case_law cl 
			  inner join case_case_type cct on cct.id = cl.case_case_type_id
				inner join hr_emp he on he.id=cl.system_approval_id
				inner join system_user su on su.hr_emp_id =he.id where su.user_name = #{userName} and cl.id=#{id}    
		</select>	
</mapper>